#header .slider-product {
  width: 1200px;
  height: 300px;
  margin: 14px auto; }
  #header .slider-product .slide {
    height: 300px; }
  #header .slider-product .slick-arrow {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    z-index: 10; }
    #header .slider-product .slick-arrow::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px; }
    #header .slider-product .slick-arrow.slick-prev {
      left: 10px; }
      #header .slider-product .slick-arrow.slick-prev::before {
        background: url(../images/arrow_slide_left.png) no-repeat;
        background-size: 100%; }
    #header .slider-product .slick-arrow.slick-next {
      right: 10px; }
      #header .slider-product .slick-arrow.slick-next::before {
        background: url(../images/arrow_slide_right.png) no-repeat;
        background-size: 100%; }

.content .container .icon-ham {
  display: none; }

.content .container .product {
  font-size: 0; }
  .content .container .product .left-menu, .content .container .product .right-product {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content .container .product .left-menu {
    width: 25%;
    margin-right: 2%;
    background-color: #fff; }
    .content .container .product .left-menu .breadcrumb {
      padding: 10px 16px;
      list-style: none; }
      .content .container .product .left-menu .breadcrumb li {
        display: inline-block; }
        .content .container .product .left-menu .breadcrumb li a {
          color: #0275d8;
          display: inline-block;
          text-decoration: none; }
          .content .container .product .left-menu .breadcrumb li a:hover {
            color: #01447e;
            text-decoration: underline; }
      .content .container .product .left-menu .breadcrumb li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0"; }
    .content .container .product .left-menu .left-dropdown .menu-drop .title {
      background-color: #129848;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      position: relative;
      padding: 12px 10px 12px 50px; }
      .content .container .product .left-menu .left-dropdown .menu-drop .title::before {
        background: url(../images/icon_hamburger.png) no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        width: 20px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .content .container .product .left-menu .left-dropdown .menu-drop .menu {
      padding-left: 35px; }
      .content .container .product .left-menu .left-dropdown .menu-drop .menu li {
        list-style-type: disc; }
        .content .container .product .left-menu .left-dropdown .menu-drop .menu li a {
          padding: 12px; }
          .content .container .product .left-menu .left-dropdown .menu-drop .menu li a:hover {
            color: red; }
    .content .container .product .left-menu .left-dropdown .menu-drop.menu-product {
      margin: 5px 0 40px; }
  .content .container .product .right-product {
    width: 73%; }
    .content .container .product .right-product .box-title {
      border-bottom: 1px solid #000;
      padding: 10px 0 15px;
      position: relative; }
      .content .container .product .right-product .box-title .title, .content .container .product .right-product .box-title .box-sl {
        display: inline-block; }
      .content .container .product .right-product .box-title .box-sl {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .content .container .product .right-product .box-title .box-sl .sl-price {
          border: 1px solid #000;
          font-size: 12px;
          margin-left: 4px;
          padding: 4px;
          cursor: pointer; }
    .content .container .product .right-product .box-product {
      font-size: 0;
      margin-top: 20px; }
      .content .container .product .right-product .box-product .col {
        width: calc(100% / 4);
        display: inline-block;
        font-size: 14px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #8becb2;
        border-left: 1px solid #8becb2; }
        .content .container .product .right-product .box-product .col:nth-child(1), .content .container .product .right-product .box-product .col:nth-child(2), .content .container .product .right-product .box-product .col:nth-child(3), .content .container .product .right-product .box-product .col:nth-child(4) {
          border-top: 1px solid #8becb2; }
        .content .container .product .right-product .box-product .col:nth-child(4n) {
          border-right: 1px solid #8becb2; }
        .content .container .product .right-product .box-product .col .img {
          height: 140px;
          position: relative;
          margin-bottom: 10px; }
          .content .container .product .right-product .box-product .col .img .sale {
            background: -webkit-gradient(linear, left top, right top, from(#fc8705), to(#ec221e));
            background: -webkit-linear-gradient(left, #fc8705, #ec221e);
            background: -o-linear-gradient(left, #fc8705, #ec221e);
            background: linear-gradient(to right, #fc8705, #ec221e);
            color: #fff;
            font-size: 12px;
            position: absolute;
            top: 4px;
            right: 4px;
            padding: 2px 4px;
            border-radius: 16px; }
          .content .container .product .right-product .box-product .col .img img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover; }
        .content .container .product .right-product .box-product .col .title {
          border-top: 1px dotted #8becb2;
          color: #5353ed;
          line-height: 26px;
          margin-bottom: 8px;
          padding-top: 10px; }
        .content .container .product .right-product .box-product .col .price {
          line-height: 26px; }
          .content .container .product .right-product .box-product .col .price .price-new {
            color: #e10c00;
            font-weight: 600; }
          .content .container .product .right-product .box-product .col .price .price-old {
            text-decoration: line-through;
            float: right; }
    .content .container .product .right-product .pagination {
      overflow: hidden;
      text-align: right;
      margin-top: 20px;
      font-size: 0; }
      .content .container .product .right-product .pagination a {
        color: black;
        display: inline-block;
        font-size: 14px;
        padding: 8px 14px;
        text-decoration: none;
        -webkit-transition: background-color .3s;
        -o-transition: background-color .3s;
        transition: background-color .3s; }
        .content .container .product .right-product .pagination a.active {
          background-color: #129848;
          color: #fff; }
        .content .container .product .right-product .pagination a:hover:not(.active) {
          background-color: #ddd; }

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
  #header .slider-product {
    width: 100%;
    height: 220px;
    margin: 10px auto; }
    #header .slider-product .slide {
      height: 220px; }
    #header .slider-product .slick-arrow {
      width: 40px;
      height: 40px; }
      #header .slider-product .slick-arrow::before {
        width: 14px;
        height: 14px; }
      #header .slider-product .slick-arrow.slick-prev {
        left: 10px; }
      #header .slider-product .slick-arrow.slick-next {
        right: 10px; }
  .content {
    padding: 0 15px; }
    .content .container .product .left-menu, .content .container .product .right-product {
      font-size: 13px; }
    .content .container .product .left-menu {
      width: 25%;
      margin-right: 2%; }
      .content .container .product .left-menu .breadcrumb {
        padding: 10px 0; }
        .content .container .product .left-menu .breadcrumb li + li:before {
          padding: 0; }
      .content .container .product .left-menu .left-dropdown .menu-drop .title {
        font-size: 12px;
        padding: 8px 10px 8px 35px; }
        .content .container .product .left-menu .left-dropdown .menu-drop .title::before {
          width: 15px;
          height: 13px;
          left: 10px; }
      .content .container .product .left-menu .left-dropdown .menu-drop .menu {
        padding-left: 30px; }
        .content .container .product .left-menu .left-dropdown .menu-drop .menu li a {
          padding: 10px; }
      .content .container .product .left-menu .left-dropdown .menu-drop.menu-product {
        margin: 5px 0 20px; }
    .content .container .product .right-product {
      width: 73%; }
      .content .container .product .right-product .box-title {
        padding: 10px 0 15px; }
        .content .container .product .right-product .box-title .box-sl .sl-price {
          font-size: 12px;
          margin-left: 4px;
          padding: 2px; }
      .content .container .product .right-product .box-product {
        margin-top: 10px; }
        .content .container .product .right-product .box-product .col {
          font-size: 13px;
          padding: 6px; }
          .content .container .product .right-product .box-product .col .img {
            height: 100px;
            margin-bottom: 6px; }
            .content .container .product .right-product .box-product .col .img .sale {
              font-size: 11px;
              top: 2px;
              right: 2px;
              padding: 2px 4px;
              border-radius: 10px; }
          .content .container .product .right-product .box-product .col .title {
            line-height: 18px;
            margin-bottom: 4px;
            padding-top: 6px; }
          .content .container .product .right-product .box-product .col .price {
            line-height: 18px; }
      .content .container .product .right-product .pagination {
        margin-top: 14px; }
        .content .container .product .right-product .pagination a {
          font-size: 13px;
          padding: 6px 12px; } }

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
  #header .slider-product {
    height: 160px;
    margin: 6px auto; }
    #header .slider-product .slide {
      height: 160px; }
    #header .slider-product .slick-arrow {
      width: 24px;
      height: 24px; }
      #header .slider-product .slick-arrow::before {
        width: 10px;
        height: 10px; }
      #header .slider-product .slick-arrow.slick-prev {
        left: 6px; }
      #header .slider-product .slick-arrow.slick-next {
        right: 6px; }
  .content {
    padding: 0 10px; }
    .content .container .icon-ham {
      display: inline-block;
      background-color: #129848;
      width: 20px;
      height: 13px;
      padding: 6px;
      position: absolute;
      z-index: 10; }
      .content .container .icon-ham img {
        width: 100%; }
    .content .container .product {
      position: relative; }
      .content .container .product .left-menu, .content .container .product .right-product {
        font-size: 12px; }
      .content .container .product .left-menu {
        display: none;
        width: 100%;
        margin-right: 0;
        position: absolute;
        top: 30px;
        z-index: 10; }
        .content .container .product .left-menu .breadcrumb {
          padding: 10px; }
          .content .container .product .left-menu .breadcrumb li + li:before {
            padding: 4px; }
        .content .container .product .left-menu .left-dropdown .menu-drop .title {
          font-size: 12px;
          padding: 8px 10px 8px 35px; }
          .content .container .product .left-menu .left-dropdown .menu-drop .title::before {
            width: 15px;
            height: 13px;
            left: 10px; }
        .content .container .product .left-menu .left-dropdown .menu-drop .menu {
          padding-left: 22px; }
          .content .container .product .left-menu .left-dropdown .menu-drop .menu li a {
            padding: 8px; }
        .content .container .product .left-menu .left-dropdown .menu-drop.menu-product {
          margin: 0 0 10px; }
      .content .container .product .right-product {
        width: 100%;
        margin-top: 25px; }
        .content .container .product .right-product .box-title {
          padding: 10px 0 12px; }
          .content .container .product .right-product .box-title .box-sl .sl-price {
            font-size: 11px;
            margin-left: 4px;
            padding: 2px; }
        .content .container .product .right-product .box-product {
          margin-top: 8px; }
          .content .container .product .right-product .box-product .col {
            width: calc(100% / 2);
            font-size: 12px;
            padding: 6px; }
            .content .container .product .right-product .box-product .col:nth-child(1), .content .container .product .right-product .box-product .col:nth-child(2), .content .container .product .right-product .box-product .col:nth-child(3), .content .container .product .right-product .box-product .col:nth-child(4) {
              border-top: 0; }
            .content .container .product .right-product .box-product .col:nth-child(4n) {
              border-right: 0; }
            .content .container .product .right-product .box-product .col:nth-child(1), .content .container .product .right-product .box-product .col:nth-child(2) {
              border-top: 1px solid #8becb2; }
            .content .container .product .right-product .box-product .col:nth-child(2n) {
              border-right: 1px solid #8becb2; }
            .content .container .product .right-product .box-product .col .img {
              height: 120px;
              margin-bottom: 6px; }
              .content .container .product .right-product .box-product .col .img .sale {
                font-size: 11px;
                top: 2px;
                right: 2px;
                padding: 2px 4px;
                border-radius: 10px; }
            .content .container .product .right-product .box-product .col .title {
              line-height: 16px;
              margin-bottom: 4px;
              padding-top: 6px; }
            .content .container .product .right-product .box-product .col .price {
              line-height: 16px; }
        .content .container .product .right-product .pagination {
          margin-top: 10px; }
          .content .container .product .right-product .pagination a {
            font-size: 12px;
            padding: 4px 10px; } }

@media (max-width: 480px) {
  #header .slider-product {
    height: 140px;
    margin: 4px auto; }
    #header .slider-product .slide {
      height: 140px; }
    #header .slider-product .slick-arrow {
      width: 20px;
      height: 20px; }
      #header .slider-product .slick-arrow::before {
        width: 8px;
        height: 8px; }
      #header .slider-product .slick-arrow.slick-prev {
        left: 4px; }
      #header .slider-product .slick-arrow.slick-next {
        right: 4px; }
  .content .container .icon-ham {
    width: 14px;
    height: 9px;
    padding: 4px; }
  .content .container .product .left-menu {
    top: 22px; }
  .content .container .product .right-product {
    margin-top: 15px; }
    .content .container .product .right-product .box-product {
      margin-top: 6px; }
      .content .container .product .right-product .box-product .col {
        padding: 6px; }
        .content .container .product .right-product .box-product .col .img {
          height: 100px;
          margin-bottom: 6px; }
        .content .container .product .right-product .box-product .col .title {
          line-height: normal;
          margin-bottom: 4px;
          padding-top: 6px; }
        .content .container .product .right-product .box-product .col .price {
          line-height: normal; }
    .content .container .product .right-product .pagination {
      margin-top: 8px; }
      .content .container .product .right-product .pagination a {
        font-size: 11px;
        padding: 4px 8px; } }
