/* =================================
Content
================================= */
.content .title {
  border-bottom: 1px solid #129848;
  font-size: 15px;
  line-height: 24px;
  margin: 15px 0;
  padding-bottom: 6px;
  text-transform: capitalize; }

.content .col-4 {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .content .col-4 img {
    width: 100%; }
  .content .col-4 .txt {
    margin-top: 15px; }

.content .col-2.col-row {
  font-size: 0;
  margin-bottom: 20px; }
  .content .col-2.col-row:last-child {
    margin-bottom: 0; }
  .content .col-2.col-row .banner, .content .col-2.col-row .row-info {
    display: inline-block;
    vertical-align: top; }
  .content .col-2.col-row .col {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px; }
  .content .col-2.col-row .banner {
    width: 26%;
    height: 140px;
    position: relative; }
    .content .col-2.col-row .banner img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .content .col-2.col-row .banner:hover {
      opacity: .7; }
    .content .col-2.col-row .banner .box-card {
      font-size: 12px;
      position: absolute;
      top: 20px;
      right: 0; }
      .content .col-2.col-row .banner .box-card span {
        color: #fff;
        display: block;
        padding: 4px 8px;
        border-radius: 2px;
        text-transform: uppercase; }
        .content .col-2.col-row .banner .box-card span.new {
          background-color: #fc8705;
          margin-bottom: 8px; }
        .content .col-2.col-row .banner .box-card span.hot {
          background-color: #e10c00; }
  .content .col-2.col-row .row-info {
    width: 74%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 0 10px; }
    .content .col-2.col-row .row-info .title-info {
      font-size: 15px;
      line-height: 24px;
      display: inline-block; }
      .content .col-2.col-row .row-info .title-info a:hover {
        text-decoration: underline; }
    .content .col-2.col-row .row-info .time {
      color: #b8b3b3;
      display: block;
      font-size: 13px;
      font-style: italic;
      line-height: 20px;
      margin: 6px 0;
      position: relative;
      padding-left: 20px; }
      .content .col-2.col-row .row-info .time::before {
        background: url(../images/clock.png) no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .content .col-2.col-row .row-info .txt {
      line-height: 24px; }

.content.homePage .box-content .box-detail {
  font-size: 0; }
  .content.homePage .box-content .box-detail .col-detail {
    width: calc((100% - 60px) / 3);
    display: inline-block;
    margin: 0 30px 20px 0;
    vertical-align: top; }
    .content.homePage .box-content .box-detail .col-detail .img, .content.homePage .box-content .box-detail .col-detail .txt {
      display: inline-block;
      vertical-align: top; }
    .content.homePage .box-content .box-detail .col-detail .img {
      width: 14%; }
      .content.homePage .box-content .box-detail .col-detail .img img {
        width: 40px; }
    .content.homePage .box-content .box-detail .col-detail .txt {
      width: 86%; }
    .content.homePage .box-content .box-detail .col-detail:nth-child(3n) {
      margin-right: 0; }
    .content.homePage .box-content .box-detail .col-detail .title-detail {
      color: #129848;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 6px; }
      .content.homePage .box-content .box-detail .col-detail .title-detail a {
        color: #129848; }
    .content.homePage .box-content .box-detail .col-detail .txt-detail {
      font-size: 14px;
      line-height: 24px;
      color: #777; }

.content.homePage .box-event {
  font-size: 0; }
  .content.homePage .box-event .col {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content.homePage .box-event .col-l {
    width: 49%; }
  .content.homePage .box-event .col-r {
    width: 51%;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .content.homePage .box-event .banner {
    height: 330px; }
    .content.homePage .box-event .banner img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .content.homePage .box-event .title {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    .content.homePage .box-event .title a {
      color: #129848;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px; }
  .content.homePage .box-event .time {
    color: #b8b3b3;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 4px; }
  .content.homePage .box-event .txt {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .content.homePage .box-event .btn-view {
    text-align: right; }
    .content.homePage .box-event .btn-view a {
      color: #f42b13;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px; }
  .content.homePage .box-event .col-row {
    font-size: 0;
    margin-bottom: 10px;
    border: 1px solid #8becb2;
    padding: 10px; }
    .content.homePage .box-event .col-row .banner, .content.homePage .box-event .col-row .row-info {
      display: inline-block;
      vertical-align: top; }
    .content.homePage .box-event .col-row .banner {
      width: 30%;
      height: 120px; }
    .content.homePage .box-event .col-row .row-info {
      width: 70%;
      font-size: 14px;
      padding-left: 16px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .content.homePage .box-event .col-row .row-info .title {
        margin-top: 0; }

.content.homePage .slick-dotted.slick-slider {
  margin-bottom: 20px; }

.content.product .slider-product {
  width: 1200px;
  height: 400px;
  margin: 14px auto; }
  .content.product .slider-product .slide {
    height: 400px; }
    .content.product .slider-product .slide a {
      height: 400px; }
    .content.product .slider-product .slide img {
      -o-object-fit: contain;
      object-fit: contain; }
  .content.product .slider-product .slick-arrow {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    z-index: 10; }
    .content.product .slider-product .slick-arrow::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px; }
    .content.product .slider-product .slick-arrow.slick-prev {
      left: 10px; }
      .content.product .slider-product .slick-arrow.slick-prev::before {
        background: url(../images/arrow_slide_left.png) no-repeat;
        background-size: 100%; }
    .content.product .slider-product .slick-arrow.slick-next {
      right: 10px; }
      .content.product .slider-product .slick-arrow.slick-next::before {
        background: url(../images/arrow_slide_right.png) no-repeat;
        background-size: 100%; }

.content.product .icon-ham {
  display: none; }

.content.product .main-product {
  font-size: 0; }
  .content.product .main-product .left-menu, .content.product .main-product .right-product {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content.product .main-product .left-menu {
    width: 25%;
    margin-right: 2%;
    background-color: #fff; }
    .content.product .main-product .left-menu .breadcrumb {
      padding: 10px 16px;
      list-style: none; }
      .content.product .main-product .left-menu .breadcrumb li {
        display: inline-block; }
        .content.product .main-product .left-menu .breadcrumb li a {
          color: #0275d8;
          display: inline-block;
          text-decoration: none; }
          .content.product .main-product .left-menu .breadcrumb li a:hover {
            color: #01447e;
            text-decoration: underline; }
      .content.product .main-product .left-menu .breadcrumb li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0"; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .title {
      background-color: #129848;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      position: relative;
      padding: 12px 10px 12px 50px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .title::before {
        background: url(../images/icon_hamburger.png) no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        width: 20px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a {
      border-bottom: 1px solid #129848;
      padding: 12px 12px 12px 30px;
      cursor: pointer;
      position: relative; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a:hover {
        background-color: #f1f1f1 !important; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a.bg {
        background-color: #f1f1f1; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a img {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a img.arrow {
          width: 12px;
          right: 6px; }
        .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a img.icon {
          width: 18px;
          left: 6px; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .menu .dropdown-menu {
      display: none;
      margin-left: 20px; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop.menu-product {
      margin: 5px 0 40px; }
  .content.product .main-product .right-product {
    width: 73%; }
    .content.product .main-product .right-product .box-title {
      border-bottom: 1px solid #000;
      padding: 10px 0 15px;
      position: relative; }
      .content.product .main-product .right-product .box-title .title, .content.product .main-product .right-product .box-title .box-sl {
        display: inline-block; }
      .content.product .main-product .right-product .box-title .box-sl {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .content.product .main-product .right-product .box-title .box-sl .sl-price {
          border: 1px solid #000;
          font-size: 12px;
          margin-left: 4px;
          padding: 4px;
          cursor: pointer; }
    .content.product .main-product .right-product .box-product {
      font-size: 0;
      margin-top: 20px; }
      .content.product .main-product .right-product .box-product .col {
        width: calc(100% / 4);
        display: inline-block;
        font-size: 14px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #8becb2;
        border-right: 1px solid #8becb2; }
        .content.product .main-product .right-product .box-product .col:nth-child(1), .content.product .main-product .right-product .box-product .col:nth-child(2), .content.product .main-product .right-product .box-product .col:nth-child(3), .content.product .main-product .right-product .box-product .col:nth-child(4) {
          border-top: 1px solid #8becb2; }
        .content.product .main-product .right-product .box-product .col:nth-child(4n + 1) {
          border-left: 1px solid #8becb2; }
        .content.product .main-product .right-product .box-product .col .img {
          height: 140px;
          position: relative;
          margin-bottom: 10px; }
          .content.product .main-product .right-product .box-product .col .img .sale {
            background: -webkit-gradient(linear, left top, right top, from(#fc8705), to(#ec221e));
            background: -webkit-linear-gradient(left, #fc8705, #ec221e);
            background: -o-linear-gradient(left, #fc8705, #ec221e);
            background: linear-gradient(to right, #fc8705, #ec221e);
            color: #fff;
            font-size: 12px;
            position: absolute;
            top: 4px;
            right: 4px;
            padding: 2px 4px;
            border-radius: 16px; }
          .content.product .main-product .right-product .box-product .col .img .new-item {
            background: -webkit-gradient(linear, left top, right top, from(#fc8705), to(#ec221e));
            background: -webkit-linear-gradient(left, #fc8705, #ec221e);
            background: -o-linear-gradient(left, #fc8705, #ec221e);
            background: linear-gradient(to right, #fc8705, #ec221e);
            color: #fff;
            font-size: 12px;
            position: absolute;
            bottom: 4px;
            left: 4px;
            padding: 2px 10px;
            border-radius: 10px; }
          .content.product .main-product .right-product .box-product .col .img img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain; }
          .content.product .main-product .right-product .box-product .col .img:hover {
            opacity: .7; }
        .content.product .main-product .right-product .box-product .col .title {
          border-top: 1px dotted #8becb2;
          color: #5353ed;
          line-height: 26px;
          margin-bottom: 8px;
          padding-top: 10px;
          height: 50px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
          .content.product .main-product .right-product .box-product .col .title:hover {
            text-decoration: underline; }
        .content.product .main-product .right-product .box-product .col .price {
          line-height: 26px; }
          .content.product .main-product .right-product .box-product .col .price .price-new {
            color: #e10c00;
            font-weight: 600; }
          .content.product .main-product .right-product .box-product .col .price .price-old {
            text-decoration: line-through;
            float: right; }
    .content.product .main-product .right-product .head-list {
      background-color: #129848;
      color: #fff;
      padding: 10px;
      font-size: 0; }
      .content.product .main-product .right-product .head-list span {
        display: inline-block;
        font-size: 14px; }
    .content.product .main-product .right-product .head-sub {
      margin: 10px 0 20px; }
      .content.product .main-product .right-product .head-sub span {
        border: 1px solid #8becb2;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        width: calc((100%/4) - 30px);
        margin: 0 10px 10px 0; }
        .content.product .main-product .right-product .head-sub span:nth-child(4n) {
          margin-right: 0; }
        .content.product .main-product .right-product .head-sub span img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain; }
        .content.product .main-product .right-product .head-sub span i {
          display: inline-block; }
          .content.product .main-product .right-product .head-sub span i:first-child {
            height: 140px; }
          .content.product .main-product .right-product .head-sub span i:last-child {
            font-style: normal;
            margin-top: 4px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }

.content.productDetail .breadcrumb {
  margin: 10px 0;
  padding: 10px 0;
  list-style: none; }
  .content.productDetail .breadcrumb li {
    display: inline-block; }
    .content.productDetail .breadcrumb li a {
      color: #0275d8;
      display: inline-block;
      text-decoration: none; }
      .content.productDetail .breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
  .content.productDetail .breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }

.content.productDetail .title {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.content.productDetail .box-info {
  font-size: 0; }
  .content.productDetail .box-info .box-slider, .content.productDetail .box-info .box-detail {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content.productDetail .box-info .box-slider {
    width: 65%; }
    .content.productDetail .box-info .box-slider .slick-track {
      height: 400px; }
      .content.productDetail .box-info .box-slider .slick-track .fancybox {
        display: unset; }
      .content.productDetail .box-info .box-slider .slick-track img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain; }
    .content.productDetail .box-info .box-slider .slider-nav {
      margin-top: 6px; }
      .content.productDetail .box-info .box-slider .slider-nav .slick-track {
        height: 100px; }
      .content.productDetail .box-info .box-slider .slider-nav .slick-slide {
        outline: 0;
        cursor: pointer; }
        .content.productDetail .box-info .box-slider .slider-nav .slick-slide:hover img {
          opacity: .8; }
      .content.productDetail .box-info .box-slider .slider-nav .item-nav {
        margin-right: 6px; }
  .content.productDetail .box-info .box-detail {
    width: 35%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .content.productDetail .box-info .box-detail .price span {
      display: inline-block; }
    .content.productDetail .box-info .box-detail .price .new {
      color: #e10c00;
      font-size: 16px;
      font-weight: 600;
      margin-right: 40px; }
    .content.productDetail .box-info .box-detail .price .old {
      text-decoration: line-through; }
    .content.productDetail .box-info .box-detail .code {
      margin-top: 10px; }
      .content.productDetail .box-info .box-detail .code span {
        color: #129848; }
    .content.productDetail .box-info .box-detail .list-info {
      margin: 10px 0 0 0; }
      .content.productDetail .box-info .box-detail .list-info li {
        list-style-type: disc;
        line-height: 30px; }
    .content.productDetail .box-info .box-detail .contact {
      background-color: #129848;
      width: 160px;
      text-align: center;
      border-radius: 4px;
      margin-top: 20px; }
      .content.productDetail .box-info .box-detail .contact span {
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 12px; }

.content.productDetail .box-decription {
  font-size: 0;
  margin-top: 30px;
  padding-bottom: 30px; }
  .content.productDetail .box-decription .col-box {
    display: inline-block;
    vertical-align: top; }
    .content.productDetail .box-decription .col-box .title-decription {
      font-size: 18px;
      margin-bottom: 10px; }
  .content.productDetail .box-decription .col-intro {
    width: 65%; }
    .content.productDetail .box-decription .col-intro .col-content img {
      width: 100%; }
  .content.productDetail .box-decription .col-params {
    width: 35%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding-left: 40px; }
    .content.productDetail .box-decription .col-params h4 {
      background-color: #1da25e;
      color: #fff;
      font-size: 14px;
      text-align: center;
      padding: 12px;
      text-transform: uppercase; }
    .content.productDetail .box-decription .col-params .box-col .col {
      font-size: 0;
      border-bottom: 1px dashed #8becb2;
      padding: 20px 10px; }
      .content.productDetail .box-decription .col-params .box-col .col:last-child {
        border-bottom: 0; }
      .content.productDetail .box-decription .col-params .box-col .col a {
        display: block; }
        .content.productDetail .box-decription .col-params .box-col .col a img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; }
        .content.productDetail .box-decription .col-params .box-col .col a .new-item {
          background: -webkit-gradient(linear, left top, right top, from(#fc8705), to(#ec221e));
          background: -webkit-linear-gradient(left, #fc8705, #ec221e);
          background: -o-linear-gradient(left, #fc8705, #ec221e);
          background: linear-gradient(to right, #fc8705, #ec221e);
          color: #fff;
          font-size: 12px;
          position: absolute;
          bottom: 4px;
          left: 4px;
          padding: 2px 10px;
          border-radius: 10px; }
      .content.productDetail .box-decription .col-params .box-col .col .img {
        display: inline-block;
        width: 40%; }
        .content.productDetail .box-decription .col-params .box-col .col .img a {
          width: 140px;
          height: 100px;
          position: relative; }
          .content.productDetail .box-decription .col-params .box-col .col .img a:hover {
            opacity: .7; }
      .content.productDetail .box-decription .col-params .box-col .col .detail {
        width: 60%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        font-size: 14px;
        padding-left: 10px;
        vertical-align: top; }
        .content.productDetail .box-decription .col-params .box-col .col .detail a {
          font-weight: 600;
          word-break: break-all; }
          .content.productDetail .box-decription .col-params .box-col .col .detail a:hover {
            text-decoration: underline; }
        .content.productDetail .box-decription .col-params .box-col .col .detail .price {
          margin-top: 10px;
          line-height: 18px; }
          .content.productDetail .box-decription .col-params .box-col .col .detail .price span {
            display: block; }
          .content.productDetail .box-decription .col-params .box-col .col .detail .price .price-new {
            color: #e10c00;
            font-weight: 600; }
          .content.productDetail .box-decription .col-params .box-col .col .detail .price .price-old {
            margin-left: 0;
            margin-top: 6px;
            text-decoration: line-through; }
  .content.productDetail .box-decription .tabs {
    position: relative; }
    .content.productDetail .box-decription .tabs .nav {
      border-bottom: 2px solid #1da25e; }
      .content.productDetail .box-decription .tabs .nav button {
        border: 1px solid #1da25e;
        border-bottom: 0;
        background-color: #fff;
        font-size: 14px;
        margin-right: 4px;
        padding: 12px;
        outline: 0;
        cursor: pointer; }
        .content.productDetail .box-decription .tabs .nav button.active {
          background-color: #1da25e;
          color: #fff; }
    .content.productDetail .box-decription .tabs .tab-content {
      margin-top: 20px;
      font-size: 14px; }
      .content.productDetail .box-decription .tabs .tab-content .table .row {
        border-top: 1px solid #cdcdcd;
        line-height: 20px;
        padding: 6px 0; }
        .content.productDetail .box-decription .tabs .tab-content .table .row:last-child {
          border-bottom: 1px solid #cdcdcd; }
        .content.productDetail .box-decription .tabs .tab-content .table .row span {
          font-size: 14px;
          display: inline-block;
          vertical-align: top; }
        .content.productDetail .box-decription .tabs .tab-content .table .row .first {
          width: 30%; }
        .content.productDetail .box-decription .tabs .tab-content .table .row .last {
          width: 70%; }

.content.new-event-detail .box-detail {
  padding: 15px 40px; }
  .content.new-event-detail .box-detail .title-detail {
    font-size: 15px;
    line-height: 24px; }
  .content.new-event-detail .box-detail .date-time {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0; }
    .content.new-event-detail .box-detail .date-time .author {
      font-weight: 600; }
    .content.new-event-detail .box-detail .date-time .time {
      color: #b8b3b3; }

.content.service .col-box {
  font-size: 0;
  margin-bottom: 20px; }
  .content.service .col-box:last-child {
    margin-bottom: 0; }
  .content.service .col-box .col-mg {
    border-bottom: 1px solid #88dfab;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .content.service .col-box .col-mg:last-child {
      border-bottom: 0; }
  .content.service .col-box .col-row {
    font-size: 14px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px; }
    .content.service .col-box .col-row .img a {
      height: 300px; }
      .content.service .col-box .col-row .img a img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .content.service .col-box .col-row .img a:hover {
        opacity: .7; }
    .content.service .col-box .col-row .title-row a {
      color: #f42b13;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 10px; }
      .content.service .col-box .col-row .title-row a:hover {
        text-decoration: underline; }
    .content.service .col-box .col-row .detail {
      line-height: 24px;
      margin-left: 20px; }
      .content.service .col-box .col-row .detail .txt {
        display: list-item;
        list-style: disc; }
    .content.service .col-box .col-row .view {
      background-color: #0275d8;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      margin-top: 20px;
      padding: 8px 20px;
      font-size: 12px; }
      .content.service .col-box .col-row .view:hover {
        opacity: .7; }
    .content.service .col-box .col-row.col-right .title-row {
      text-align: right; }
    .content.service .col-box .col-row.col-right .view {
      float: right; }

.content.solution .col-box {
  font-size: 0; }
  .content.solution .col-box .col-row {
    font-size: 14px;
    width: calc(100% / 2);
    display: inline-block;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; }
    .content.solution .col-box .col-row .img {
      display: inline-block;
      height: 300px; }
      .content.solution .col-box .col-row .img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .content.solution .col-box .col-row .img:hover {
        opacity: .7; }
    .content.solution .col-box .col-row .title-row {
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
      margin: 10px 0;
      height: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
      .content.solution .col-box .col-row .title-row:hover {
        text-decoration: underline; }
    .content.solution .col-box .col-row .txt {
      line-height: 24px;
      margin-bottom: 20px;
      height: 70px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .content.solution .col-box .col-row .view {
      background-color: #e10c00;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      padding: 8px 26px; }
      .content.solution .col-box .col-row .view:hover {
        opacity: .7; }

.content.service-detail .banner {
  height: 200px;
  margin-top: 10px;
  position: relative; }
  .content.service-detail .banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .content.service-detail .banner .txt {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.content.service-detail .breadcrumb {
  margin: 10px 0;
  padding: 10px 16px;
  list-style: none; }
  .content.service-detail .breadcrumb li {
    display: inline-block; }
    .content.service-detail .breadcrumb li a {
      color: #0275d8;
      display: inline-block;
      text-decoration: none; }
      .content.service-detail .breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
  .content.service-detail .breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }

.content.service-detail .icon-ham {
  display: none; }

.content.service-detail .main-product {
  font-size: 0; }
  .content.service-detail .main-product .left-menu, .content.service-detail .main-product .right-product {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content.service-detail .main-product .left-menu {
    width: 25%;
    margin-right: 2%;
    background-color: #fff; }
    .content.service-detail .main-product .left-menu .menu-drop .title {
      background-color: #129848;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      position: relative;
      padding: 12px 10px 12px 50px; }
      .content.service-detail .main-product .left-menu .menu-drop .title::before {
        background: url(../images/icon_hamburger.png) no-repeat;
        background-size: 100%;
        content: '';
        display: inline-block;
        width: 20px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    .content.service-detail .main-product .left-menu .menu-drop .menu {
      padding-left: 35px; }
      .content.service-detail .main-product .left-menu .menu-drop .menu li {
        list-style-type: disc; }
        .content.service-detail .main-product .left-menu .menu-drop .menu li a {
          padding: 12px; }
          .content.service-detail .main-product .left-menu .menu-drop .menu li a:hover {
            color: red; }
  .content.service-detail .main-product .right-product {
    width: 73%; }
    .content.service-detail .main-product .right-product .title {
      border-bottom: 1px solid #000;
      padding: 10px 0;
      margin-bottom: 10px; }
    .content.service-detail .main-product .right-product .box-product .box-info {
      margin-bottom: 15px; }
      .content.service-detail .main-product .right-product .box-product .box-info .title-info {
        color: #0275d8;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px; }
      .content.service-detail .main-product .right-product .box-product .box-info .content-info {
        line-height: 22px; }
        .content.service-detail .main-product .right-product .box-product .box-info .content-info .txt {
          display: list-item;
          list-style-type: disc;
          margin-left: 18px; }

.content.contact .col-row {
  font-size: 0;
  margin: 40px 0; }
  .content.contact .col-row .col-l, .content.contact .col-row .col-r {
    display: inline-block;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; }
  .content.contact .col-row .col-l {
    width: 60%;
    -webkit-box-shadow: 2px 2px 5px 4px rgba(32, 33, 36, 0.28);
    box-shadow: 2px 2px 5px 4px rgba(32, 33, 36, 0.28);
    margin-right: 3%;
    padding: 20px 40px; }
    .content.contact .col-row .col-l .form input[type="text"] {
      display: block;
      border: 0;
      border-bottom: 1px solid #000;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
      outline: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .content.contact .col-row .col-l .form input[type="text"].errBorder {
        border-color: red; }
    .content.contact .col-row .col-l .form .submit {
      text-align: right;
      margin: 30px 0 5px 0; }
      .content.contact .col-row .col-l .form .submit input[type="submit"] {
        border: 0;
        background-color: #fff;
        outline: 0;
        cursor: pointer; }
      .content.contact .col-row .col-l .form .submit img {
        width: 15px;
        vertical-align: top; }
  .content.contact .col-row .col-r {
    width: 36%;
    text-align: right; }
    .content.contact .col-row .col-r .name {
      font-size: 20px;
      margin-bottom: 10px;
      text-transform: capitalize; }
    .content.contact .col-row .col-r p {
      margin-bottom: 10px; }
      .content.contact .col-row .col-r p span {
        display: block;
        margin-bottom: 5px; }
        .content.contact .col-row .col-r p span:first-child {
          font-weight: bold; }

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
  .content .title {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    padding-bottom: 4px; }
  .content .col-2.col-row {
    margin-bottom: 15px; }
    .content .col-2.col-row .banner {
      width: 30%;
      height: 110px; }
      .content .col-2.col-row .banner .box-card {
        font-size: 11px;
        top: 14px; }
        .content .col-2.col-row .banner .box-card span {
          padding: 4px 6px; }
          .content .col-2.col-row .banner .box-card span.new {
            margin-bottom: 6px; }
    .content .col-2.col-row .row-info {
      width: 70%;
      font-size: 13px;
      padding: 0 15px 0 10px; }
      .content .col-2.col-row .row-info .title-info {
        font-size: 14px;
        line-height: 20px; }
      .content .col-2.col-row .row-info .time {
        font-size: 12px;
        line-height: 16px;
        margin: 4px 0;
        padding-left: 18px; }
        .content .col-2.col-row .row-info .time::before {
          width: 13px;
          height: 13px; }
      .content .col-2.col-row .row-info .txt {
        line-height: 18px; }
  .content.homePage .box-content .box-detail .col-detail {
    width: calc((100% - 40px) / 3);
    margin: 0 20px 15px 0; }
    .content.homePage .box-content .box-detail .col-detail .img img {
      width: 30px; }
    .content.homePage .box-content .box-detail .col-detail .title-detail {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px; }
    .content.homePage .box-content .box-detail .col-detail .txt-detail {
      font-size: 13px;
      line-height: 20px; }
  .content.homePage .box-event .col {
    font-size: 13px; }
  .content.homePage .box-event .col-r {
    padding-left: 14px; }
  .content.homePage .box-event .banner {
    height: 210px; }
  .content.homePage .box-event .title {
    margin-top: 5px; }
    .content.homePage .box-event .title a {
      font-size: 14px;
      line-height: 22px; }
  .content.homePage .box-event .time {
    font-size: 11px;
    line-height: 14px; }
  .content.homePage .box-event .txt {
    line-height: 20px;
    height: 60px; }
  .content.homePage .box-event .btn-view a {
    font-size: 12px;
    line-height: 18px; }
  .content.homePage .box-event .col-row {
    margin-bottom: 14px; }
    .content.homePage .box-event .col-row .banner {
      height: 100px; }
    .content.homePage .box-event .col-row .row-info {
      font-size: 13px;
      padding-left: 14px; }
  .content.product .slider-product {
    width: 100%;
    height: 220px;
    margin: 10px auto; }
    .content.product .slider-product .slide {
      height: 220px; }
      .content.product .slider-product .slide a {
        height: 220px; }
    .content.product .slider-product .slick-arrow {
      width: 40px;
      height: 40px; }
      .content.product .slider-product .slick-arrow::before {
        width: 14px;
        height: 14px; }
      .content.product .slider-product .slick-arrow.slick-prev {
        left: 10px; }
      .content.product .slider-product .slick-arrow.slick-next {
        right: 10px; }
  .content.product .main-product .left-menu, .content.product .main-product .right-product {
    font-size: 13px; }
  .content.product .main-product .left-menu {
    width: 25%;
    margin-right: 2%; }
    .content.product .main-product .left-menu .breadcrumb {
      padding: 10px 0; }
      .content.product .main-product .left-menu .breadcrumb li + li:before {
        padding: 0; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .title {
      font-size: 12px;
      padding: 8px 10px 8px 35px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .title::before {
        width: 15px;
        height: 13px;
        left: 10px; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .menu .dropdown-menu {
      margin-left: 10px; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a {
      padding: 10px 10px 10px 30px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a img {
        width: 10px; }
    .content.product .main-product .left-menu .left-dropdown .menu-drop.menu-product {
      margin: 5px 0 20px; }
  .content.product .main-product .right-product {
    width: 73%; }
    .content.product .main-product .right-product .box-title {
      padding: 10px 0 15px; }
      .content.product .main-product .right-product .box-title .box-sl .sl-price {
        font-size: 12px;
        margin-left: 4px;
        padding: 2px; }
    .content.product .main-product .right-product .box-product {
      margin-top: 10px; }
      .content.product .main-product .right-product .box-product .col {
        font-size: 13px;
        padding: 6px; }
        .content.product .main-product .right-product .box-product .col .img {
          height: 100px;
          margin-bottom: 6px; }
          .content.product .main-product .right-product .box-product .col .img .sale {
            font-size: 11px;
            top: 2px;
            right: 2px;
            padding: 2px 4px;
            border-radius: 10px; }
          .content.product .main-product .right-product .box-product .col .img .new-item {
            font-size: 11px;
            bottom: 2px;
            left: 2px;
            padding: 2px 6px;
            border-radius: 8px; }
        .content.product .main-product .right-product .box-product .col .title {
          line-height: 18px;
          margin-bottom: 4px;
          padding-top: 6px;
          height: 36px; }
        .content.product .main-product .right-product .box-product .col .price {
          line-height: 18px; }
    .content.product .main-product .right-product .head-sub span i:first-child {
      height: 80px; }
  .content.productDetail .breadcrumb {
    margin: 8px 0;
    padding: 4px 0; }
    .content.productDetail .breadcrumb li + li:before {
      padding: 4px; }
  .content.productDetail .title {
    font-size: 14px;
    margin-bottom: 8px;
    padding-bottom: 8px; }
  .content.productDetail .box-info .box-slider, .content.productDetail .box-info .box-detail {
    font-size: 13px; }
  .content.productDetail .box-info .box-slider {
    width: 60%; }
    .content.productDetail .box-info .box-slider .slick-track {
      height: 300px; }
    .content.productDetail .box-info .box-slider .slider-nav {
      margin-top: 4px; }
      .content.productDetail .box-info .box-slider .slider-nav .slick-track {
        height: 80px; }
      .content.productDetail .box-info .box-slider .slider-nav .item-nav {
        margin: 0 2px;
        padding: 0 2px; }
  .content.productDetail .box-info .box-detail {
    width: 40%;
    padding-left: 15px; }
    .content.productDetail .box-info .box-detail .price .new {
      font-size: 15px;
      margin-right: 30px; }
    .content.productDetail .box-info .box-detail .list-info li {
      line-height: 24px; }
  .content.productDetail .box-decription {
    margin-top: 15px;
    padding-bottom: 20px; }
    .content.productDetail .box-decription .col-box .title-decription {
      font-size: 16px;
      margin-bottom: 8px; }
    .content.productDetail .box-decription .col-intro {
      width: 60%; }
    .content.productDetail .box-decription .col-params {
      width: 40%;
      padding-left: 15px; }
      .content.productDetail .box-decription .col-params .box-col .col {
        padding: 10px 6px; }
        .content.productDetail .box-decription .col-params .box-col .col .img a {
          width: 104px;
          height: 90px; }
        .content.productDetail .box-decription .col-params .box-col .col .detail .price .price-old {
          margin-top: 4px; }
      .content.productDetail .box-decription .col-params .table .row {
        line-height: 18px;
        padding: 6px 0; }
        .content.productDetail .box-decription .col-params .table .row span {
          font-size: 13px; }
    .content.productDetail .box-decription .tabs .nav button {
      font-size: 14px;
      margin-right: 2px;
      padding: 8px; }
  .content.new-event-detail .box-detail {
    padding: 10px 20px; }
    .content.new-event-detail .box-detail .title-detail {
      font-size: 14px;
      line-height: 16px; }
    .content.new-event-detail .box-detail .date-time {
      font-size: 12px;
      line-height: 16px;
      margin: 8px 0; }
  .content.service .col-box {
    margin-bottom: 15px; }
    .content.service .col-box .col-mg {
      margin-bottom: 6x;
      padding-bottom: 6px; }
    .content.service .col-box .col-row {
      font-size: 13px;
      padding: 5px; }
      .content.service .col-box .col-row .img a {
        height: 240px; }
      .content.service .col-box .col-row .title-row a {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 6px; }
      .content.service .col-box .col-row .detail {
        line-height: 18px;
        margin-left: 15px; }
      .content.service .col-box .col-row .view {
        margin-top: 15px;
        padding: 6px 16px;
        font-size: 12px; }
  .content.solution .col-box .col-row {
    font-size: 13px;
    padding: 10px 20px; }
    .content.solution .col-box .col-row .img {
      height: 200px; }
    .content.solution .col-box .col-row .title-row {
      font-size: 14px;
      line-height: 20px;
      margin: 6px 0; }
    .content.solution .col-box .col-row .txt {
      line-height: 20px;
      margin-bottom: 15px;
      height: 60px; }
    .content.solution .col-box .col-row .view {
      padding: 6px 20px; }
  .content.service-detail .banner {
    height: 160px;
    margin-top: 8px; }
    .content.service-detail .banner .txt {
      font-size: 18px; }
  .content.service-detail .breadcrumb {
    margin: 6px 0;
    padding: 10px 0; }
    .content.service-detail .breadcrumb li + li:before {
      padding: 0; }
  .content.service-detail .main-product .left-menu, .content.service-detail .main-product .right-product {
    font-size: 13px; }
  .content.service-detail .main-product .left-menu {
    width: 25%;
    margin-right: 2%; }
    .content.service-detail .main-product .left-menu .menu-drop .title {
      font-size: 12px;
      padding: 8px 10px 8px 35px; }
      .content.service-detail .main-product .left-menu .menu-drop .title::before {
        width: 15px;
        height: 13px;
        left: 10px; }
    .content.service-detail .main-product .left-menu .menu-drop .menu {
      padding-left: 30px; }
      .content.service-detail .main-product .left-menu .menu-drop .menu li a {
        padding: 10px; }
  .content.service-detail .main-product .right-product .title {
    padding: 10px 0;
    margin-bottom: 10px; }
  .content.service-detail .main-product .right-product .box-product .box-info {
    margin-bottom: 10px; }
    .content.service-detail .main-product .right-product .box-product .box-info .title-info {
      font-size: 14px;
      line-height: 24px; }
    .content.service-detail .main-product .right-product .box-product .box-info .content-info {
      line-height: 20px; }
      .content.service-detail .main-product .right-product .box-product .box-info .content-info .txt {
        margin-left: 18px; }
  .content.contact .col-row {
    margin: 20px 0; }
    .content.contact .col-row .col-l {
      padding: 10px 20px; }
      .content.contact .col-row .col-l .form {
        font-size: 13px; }
        .content.contact .col-row .col-l .form input[type="text"] {
          margin-bottom: 8px;
          padding: 10px; }
        .content.contact .col-row .col-l .form .submit {
          margin: 20px 0 5px 0; }
          .content.contact .col-row .col-l .form .submit img {
            width: 12px; }
    .content.contact .col-row .col-r .name {
      font-size: 14px;
      margin-bottom: 5px; }
    .content.contact .col-row .col-r p {
      margin-bottom: 8px; }
      .content.contact .col-row .col-r p span {
        font-size: 13px;
        margin-bottom: 4px; } }

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
  .content .title {
    font-size: 13px;
    line-height: 14px;
    margin: 10px 0;
    padding-bottom: 4px; }
  .content .col-2.col-row {
    margin-bottom: 10px; }
    .content .col-2.col-row .col {
      width: 100%; }
    .content .col-2.col-row .banner {
      width: 24%;
      height: 100px; }
      .content .col-2.col-row .banner .box-card {
        font-size: 10px;
        top: 10px; }
        .content .col-2.col-row .banner .box-card span {
          padding: 4px 6px; }
          .content .col-2.col-row .banner .box-card span.new {
            margin-bottom: 4px; }
    .content .col-2.col-row .row-info {
      width: 76%;
      font-size: 12px;
      padding: 0 10px 0 10px; }
      .content .col-2.col-row .row-info .title-info {
        font-size: 13px;
        line-height: 16px; }
      .content .col-2.col-row .row-info .time {
        font-size: 11px;
        line-height: 14px;
        margin: 4px 0;
        padding-left: 16px; }
        .content .col-2.col-row .row-info .time::before {
          width: 12px;
          height: 12px; }
      .content .col-2.col-row .row-info .txt {
        line-height: 16px; }
  .content.homePage .box-content .box-detail .col-detail {
    width: calc((100% - 15px) / 2);
    margin: 0 15px 15px 0; }
    .content.homePage .box-content .box-detail .col-detail:nth-child(even) {
      margin-right: 0; }
    .content.homePage .box-content .box-detail .col-detail:nth-child(3) {
      margin-right: 15px; }
    .content.homePage .box-content .box-detail .col-detail .img {
      width: 12%; }
      .content.homePage .box-content .box-detail .col-detail .img img {
        width: 20px; }
    .content.homePage .box-content .box-detail .col-detail .txt {
      width: 88%; }
    .content.homePage .box-content .box-detail .col-detail .title-detail {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 2px; }
    .content.homePage .box-content .box-detail .col-detail .txt-detail {
      font-size: 12px;
      line-height: 18px; }
  .content.homePage .box-event .col {
    font-size: 12px; }
  .content.homePage .box-event .col-r {
    padding-left: 10px; }
  .content.homePage .box-event .banner {
    height: 150px; }
  .content.homePage .box-event .title {
    margin-top: 5px; }
    .content.homePage .box-event .title a {
      font-size: 13px;
      line-height: 20px; }
  .content.homePage .box-event .time {
    font-size: 10px;
    line-height: 12px; }
  .content.homePage .box-event .txt {
    line-height: 18px;
    height: 35px;
    -webkit-line-clamp: 2; }
  .content.homePage .box-event .btn-view a {
    font-size: 11px;
    line-height: 16px; }
  .content.homePage .box-event .col-row {
    margin-bottom: 10px; }
    .content.homePage .box-event .col-row .banner {
      width: 34%;
      height: 72px; }
    .content.homePage .box-event .col-row .row-info {
      font-size: 12px;
      padding-left: 10px;
      width: 66%; }
  .content.homePage .slick-dotted.slick-slider {
    margin-bottom: 10px; }
  .content.product .slider-product {
    height: 160px;
    margin: 6px auto; }
    .content.product .slider-product .slide {
      height: 160px; }
      .content.product .slider-product .slide a {
        height: 160px; }
    .content.product .slider-product .slick-arrow {
      width: 24px;
      height: 24px; }
      .content.product .slider-product .slick-arrow::before {
        width: 10px;
        height: 10px; }
      .content.product .slider-product .slick-arrow.slick-prev {
        left: 6px; }
      .content.product .slider-product .slick-arrow.slick-next {
        right: 6px; }
  .content.product .icon-ham {
    display: inline-block;
    background-color: #129848;
    width: 20px;
    height: 13px;
    padding: 6px;
    position: absolute;
    z-index: 10; }
    .content.product .icon-ham img {
      width: 100%; }
  .content.product .main-product {
    position: relative; }
    .content.product .main-product .left-menu, .content.product .main-product .right-product {
      font-size: 12px; }
    .content.product .main-product .left-menu {
      display: none;
      width: 100%;
      margin-right: 0;
      position: absolute;
      top: 30px;
      z-index: 10; }
      .content.product .main-product .left-menu .breadcrumb {
        padding: 10px; }
        .content.product .main-product .left-menu .breadcrumb li + li:before {
          padding: 4px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .title {
        font-size: 12px;
        padding: 8px 10px 8px 35px; }
        .content.product .main-product .left-menu .left-dropdown .menu-drop .title::before {
          width: 15px;
          height: 13px;
          left: 10px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop .menu {
        padding-left: 22px; }
        .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a {
          padding: 8px 8px 8px 30px; }
          .content.product .main-product .left-menu .left-dropdown .menu-drop .menu li a img.icon {
            width: 16px; }
      .content.product .main-product .left-menu .left-dropdown .menu-drop.menu-product {
        margin: 0 0 10px; }
    .content.product .main-product .right-product {
      width: 100%;
      margin-top: 30px; }
      .content.product .main-product .right-product .box-title {
        padding: 10px 0 12px; }
        .content.product .main-product .right-product .box-title .box-sl .sl-price {
          font-size: 11px;
          margin-left: 4px;
          padding: 2px; }
      .content.product .main-product .right-product .box-product {
        margin-top: 8px; }
        .content.product .main-product .right-product .box-product .col {
          width: calc(100% / 2);
          font-size: 12px;
          padding: 6px; }
          .content.product .main-product .right-product .box-product .col:nth-child(1), .content.product .main-product .right-product .box-product .col:nth-child(2), .content.product .main-product .right-product .box-product .col:nth-child(3), .content.product .main-product .right-product .box-product .col:nth-child(4) {
            border-top: 0; }
          .content.product .main-product .right-product .box-product .col:nth-child(1), .content.product .main-product .right-product .box-product .col:nth-child(2) {
            border-top: 1px solid #8becb2; }
          .content.product .main-product .right-product .box-product .col:nth-child(2n + 1) {
            border-left: 1px solid #8becb2; }
          .content.product .main-product .right-product .box-product .col .img {
            height: 120px;
            margin-bottom: 6px; }
            .content.product .main-product .right-product .box-product .col .img .sale {
              font-size: 11px;
              top: 2px;
              right: 2px;
              padding: 2px 4px;
              border-radius: 10px; }
          .content.product .main-product .right-product .box-product .col .title {
            line-height: 16px;
            margin-bottom: 4px;
            padding-top: 6px;
            height: 32px; }
          .content.product .main-product .right-product .box-product .col .price {
            line-height: 16px; }
      .content.product .main-product .right-product .head-list {
        padding: 6px; }
        .content.product .main-product .right-product .head-list span {
          font-size: 12px; }
      .content.product .main-product .right-product .head-sub span i:first-child {
        height: 60px; }
  .content.productDetail .breadcrumb {
    margin: 4px 0; }
    .content.productDetail .breadcrumb li + li:before {
      padding: 2px; }
  .content.productDetail .title {
    font-size: 13px;
    margin-bottom: 6px;
    padding-bottom: 6px; }
  .content.productDetail .box-info .box-slider, .content.productDetail .box-info .box-detail {
    font-size: 12px;
    width: 100%; }
  .content.productDetail .box-info .box-slider .slick-track {
    height: 200px; }
  .content.productDetail .box-info .box-slider .slider-nav {
    margin-top: 8px; }
    .content.productDetail .box-info .box-slider .slider-nav .slick-track {
      height: 70px; }
    .content.productDetail .box-info .box-slider .slider-nav .item-nav {
      margin: 0 2px;
      padding: 0 2px; }
  .content.productDetail .box-info .box-detail {
    padding-left: 0;
    margin-top: 15px; }
    .content.productDetail .box-info .box-detail .price .new {
      font-size: 14px;
      margin-right: 20px; }
    .content.productDetail .box-info .box-detail .list-info {
      margin: 4px 0 0 15px; }
      .content.productDetail .box-info .box-detail .list-info li {
        line-height: 20px; }
  .content.productDetail .box-decription {
    margin-top: 10px;
    padding-bottom: 15px; }
    .content.productDetail .box-decription .col-box .title-decription {
      font-size: 13px;
      margin-bottom: 6px; }
    .content.productDetail .box-decription .col-intro {
      width: 100%; }
    .content.productDetail .box-decription .col-params {
      width: 100%;
      font-size: 13px;
      padding-left: 0;
      margin-top: 10px; }
      .content.productDetail .box-decription .col-params h4 {
        font-size: 13px;
        padding: 12px; }
      .content.productDetail .box-decription .col-params .box-col .col .img {
        width: 32%;
        display: inline-block; }
        .content.productDetail .box-decription .col-params .box-col .col .img a {
          width: 140px;
          height: 100px; }
      .content.productDetail .box-decription .col-params .box-col .col .detail {
        font-size: 13px;
        width: 68%; }
        .content.productDetail .box-decription .col-params .box-col .col .detail .price {
          margin-top: 10px; }
    .content.productDetail .box-decription .tabs .nav button {
      font-size: 12px; }
  .content.new-event-detail .box-detail {
    padding: 0 15px; }
    .content.new-event-detail .box-detail .title-detail {
      font-size: 13px;
      line-height: 14px; }
    .content.new-event-detail .box-detail .date-time {
      font-size: 11px;
      line-height: 14px;
      margin: 8px 0; }
  .content.service .col-box {
    margin-bottom: 15px; }
    .content.service .col-box .col-mg {
      margin-bottom: 4px;
      padding-bottom: 4px; }
    .content.service .col-box .col-row {
      font-size: 12px; }
      .content.service .col-box .col-row .img a {
        height: 180px; }
      .content.service .col-box .col-row .title-row a {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 4px; }
      .content.service .col-box .col-row .detail {
        line-height: 16px;
        margin-left: 0; }
      .content.service .col-box .col-row .view {
        margin-top: 10px;
        padding: 4px 14px;
        font-size: 11px; }
  .content.solution .col-box .col-row {
    font-size: 12px;
    padding: 4px 6px; }
    .content.solution .col-box .col-row .img {
      height: 180px; }
    .content.solution .col-box .col-row .title-row {
      font-size: 13px;
      line-height: 16px;
      margin: 4px 0;
      height: 16px; }
    .content.solution .col-box .col-row .txt {
      line-height: 16px;
      margin-bottom: 10px;
      height: 48px; }
    .content.solution .col-box .col-row .view {
      padding: 4px 18px;
      font-size: 11px; }
  .content.service-detail .banner {
    height: 140px;
    margin-top: 6px; }
    .content.service-detail .banner .txt {
      font-size: 16px; }
  .content.service-detail .breadcrumb {
    margin: 6px 0;
    padding: 6px 0; }
    .content.service-detail .breadcrumb li + li:before {
      padding: 0; }
  .content.service-detail .icon-ham {
    display: inline-block;
    background-color: #129848;
    width: 20px;
    height: 13px;
    padding: 6px;
    position: absolute;
    z-index: 10; }
    .content.service-detail .icon-ham img {
      width: 100%; }
  .content.service-detail .main-product {
    position: relative; }
    .content.service-detail .main-product .left-menu, .content.service-detail .main-product .right-product {
      font-size: 12px; }
    .content.service-detail .main-product .left-menu {
      display: none;
      width: 100%;
      margin-right: 0;
      position: absolute;
      top: 30px;
      z-index: 10; }
      .content.service-detail .main-product .left-menu .menu-drop .title {
        font-size: 12px;
        padding: 8px 10px 8px 35px; }
        .content.service-detail .main-product .left-menu .menu-drop .title::before {
          width: 15px;
          height: 13px;
          left: 10px; }
      .content.service-detail .main-product .left-menu .menu-drop .menu {
        padding-left: 24px; }
        .content.service-detail .main-product .left-menu .menu-drop .menu li a {
          padding: 8px; }
    .content.service-detail .main-product .right-product {
      width: 100%;
      margin-top: 25px; }
      .content.service-detail .main-product .right-product .title {
        padding: 8px 0;
        margin-bottom: 6px; }
      .content.service-detail .main-product .right-product .box-product .box-info {
        margin-bottom: 6px; }
        .content.service-detail .main-product .right-product .box-product .box-info .title-info {
          font-size: 13px;
          line-height: 20px; }
        .content.service-detail .main-product .right-product .box-product .box-info .content-info {
          line-height: 18px; }
          .content.service-detail .main-product .right-product .box-product .box-info .content-info .txt {
            margin-left: 15px; }
  .content.contact .col-row {
    margin: 15px 0; }
    .content.contact .col-row .col-l {
      padding: 8px 15px; }
      .content.contact .col-row .col-l .form {
        font-size: 12px; }
        .content.contact .col-row .col-l .form input[type="text"] {
          margin-bottom: 6px;
          padding: 8px; }
        .content.contact .col-row .col-l .form .submit {
          margin: 15px 0 3px 0; }
          .content.contact .col-row .col-l .form .submit img {
            width: 10px; }
    .content.contact .col-row .col-r .name {
      font-size: 13px;
      margin-bottom: 4px; }
    .content.contact .col-row .col-r p {
      margin-bottom: 6px; }
      .content.contact .col-row .col-r p span {
        font-size: 12px;
        margin-bottom: 4px; } }

@media (max-width: 480px) {
  .content .title {
    font-size: 12px;
    margin-bottom: 4px;
    padding-bottom: 4px; }
  .content .col-2.col-row {
    border-bottom: 1px solid #129848;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .content .col-2.col-row .banner {
      width: 100%;
      height: 160px; }
    .content .col-2.col-row .row-info {
      width: 100%;
      font-size: 12px;
      margin-top: 8px;
      padding: 0; }
      .content .col-2.col-row .row-info .title-info {
        font-size: 12px;
        line-height: normal; }
      .content .col-2.col-row .row-info .time {
        font-size: 11px;
        line-height: normal;
        margin: 4px 0;
        padding-left: 14px; }
        .content .col-2.col-row .row-info .time::before {
          width: 11px;
          height: 11px; }
      .content .col-2.col-row .row-info .txt {
        line-height: normal; }
  .content.homePage .box-content .box-detail .col-detail {
    width: 100%;
    margin: 0 0 10px 0; }
    .content.homePage .box-content .box-detail .col-detail:nth-child(3) {
      margin-right: 0; }
    .content.homePage .box-content .box-detail .col-detail .img {
      width: 12%; }
      .content.homePage .box-content .box-detail .col-detail .img img {
        width: 15px; }
    .content.homePage .box-content .box-detail .col-detail .txt {
      width: 88%; }
    .content.homePage .box-content .box-detail .col-detail .title-detail {
      font-size: 12px;
      line-height: normal; }
    .content.homePage .box-content .box-detail .col-detail .txt-detail {
      font-size: 12px;
      line-height: normal; }
  .content.homePage .box-event .col {
    width: 100%; }
  .content.homePage .box-event .col-r {
    margin-top: 8px;
    padding-left: 0; }
  .content.homePage .box-event .banner {
    height: 130px; }
  .content.homePage .box-event .title {
    margin-top: 3px; }
    .content.homePage .box-event .title a {
      font-size: 12px;
      line-height: normal; }
  .content.homePage .box-event .time {
    font-size: 10px;
    line-height: normal; }
  .content.homePage .box-event .txt {
    line-height: normal;
    height: 28px; }
  .content.homePage .box-event .btn-view a {
    font-size: 11px;
    line-height: normal; }
  .content.homePage .box-event .col-row {
    margin-bottom: 8px; }
    .content.homePage .box-event .col-row .banner {
      width: 34%;
      height: 70px; }
    .content.homePage .box-event .col-row .row-info {
      font-size: 12px;
      padding-left: 8px;
      width: 66%; }
  .content.homePage .slick-dotted.slick-slider {
    margin-bottom: 4px; }
  .content.product .slider-product {
    height: 140px;
    margin: 4px auto; }
    .content.product .slider-product .slide {
      height: 140px; }
      .content.product .slider-product .slide a {
        height: 140px; }
    .content.product .slider-product .slick-arrow {
      width: 20px;
      height: 20px; }
      .content.product .slider-product .slick-arrow::before {
        width: 8px;
        height: 8px; }
      .content.product .slider-product .slick-arrow.slick-prev {
        left: 4px; }
      .content.product .slider-product .slick-arrow.slick-next {
        right: 4px; }
  .content.product .icon-ham {
    width: 14px;
    height: 9px;
    padding: 4px; }
  .content.product .main-product .left-menu {
    top: 22px; }
  .content.product .main-product .right-product {
    margin-top: 20px; }
    .content.product .main-product .right-product .box-product {
      margin-top: 6px; }
      .content.product .main-product .right-product .box-product .col {
        padding: 6px; }
        .content.product .main-product .right-product .box-product .col .img {
          height: 100px;
          margin-bottom: 6px; }
        .content.product .main-product .right-product .box-product .col .title {
          line-height: normal;
          margin-bottom: 4px;
          padding-top: 6px;
          height: 28px; }
        .content.product .main-product .right-product .box-product .col .price {
          line-height: normal; }
    .content.product .main-product .right-product .head-sub span i:first-child {
      height: 30px; }
  .content.productDetail .box-info .box-slider {
    width: 100%; }
    .content.productDetail .box-info .box-slider .slick-track {
      height: 200px; }
    .content.productDetail .box-info .box-slider .slider-nav {
      margin-top: 6px; }
      .content.productDetail .box-info .box-slider .slider-nav .slick-track {
        height: 60px; }
      .content.productDetail .box-info .box-slider .slider-nav .item-nav {
        margin: 0 1x;
        padding: 0 1px; }
  .content.productDetail .box-info .box-detail {
    width: 100%;
    margin-top: 8px;
    padding-left: 0; }
    .content.productDetail .box-info .box-detail .price .new {
      font-size: 12px;
      margin-right: 20px; }
    .content.productDetail .box-info .box-detail .list-info {
      margin: 4px 0 0 15px; }
      .content.productDetail .box-info .box-detail .list-info li {
        line-height: normal; }
  .content.productDetail .box-decription {
    margin-top: 8px;
    padding-bottom: 10px; }
    .content.productDetail .box-decription .col-box {
      width: 100%; }
      .content.productDetail .box-decription .col-box .title-decription {
        font-size: 13px;
        margin-bottom: 6px; }
    .content.productDetail .box-decription .col-params {
      margin-top: 8px;
      padding-left: 0; }
      .content.productDetail .box-decription .col-params .table .row {
        line-height: normal;
        padding: 4px 0; }
      .content.productDetail .box-decription .col-params .box-col .col .img a {
        width: 92px;
        height: 80px; }
      .content.productDetail .box-decription .col-params .box-col .col .detail {
        font-size: 12px; }
    .content.productDetail .box-decription .tabs .nav button {
      padding: 6px 4px; }
  .content.new-event-detail .box-detail {
    padding: 0 10px; }
    .content.new-event-detail .box-detail .title-detail {
      font-size: 12px;
      line-height: normal; }
    .content.new-event-detail .box-detail .date-time {
      font-size: 11px;
      line-height: normal;
      margin: 6px 0; }
  .content.service .col-box {
    border-bottom: 1px solid #129848;
    margin-bottom: 10px;
    padding-bottom: 10px; }
    .content.service .col-box:last-child {
      border-bottom: 0; }
    .content.service .col-box .col-mg {
      margin-bottom: 6px;
      padding-bottom: 6px; }
    .content.service .col-box .col-row {
      width: 100%;
      font-size: 12px;
      padding: 0; }
      .content.service .col-box .col-row:last-child {
        margin-top: 10px;
        padding-left: 0; }
      .content.service .col-box .col-row .img a {
        height: 180px; }
      .content.service .col-box .col-row .title-row a {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 2px; }
      .content.service .col-box .col-row .detail {
        line-height: normal;
        margin-left: 0; }
      .content.service .col-box .col-row .view {
        margin-top: 10px;
        padding: 4px 14px;
        font-size: 11px; }
  .content.solution .col-box .col-row {
    margin-bottom: 8px;
    padding: 0 4px; }
    .content.solution .col-box .col-row .img {
      height: 120px; }
    .content.solution .col-box .col-row .title-row {
      font-size: 12px;
      line-height: normal;
      margin: 2px 0;
      height: 14px; }
    .content.solution .col-box .col-row .txt {
      line-height: normal;
      margin-bottom: 10px;
      height: 41px; }
    .content.solution .col-box .col-row .view {
      padding: 4px 12px; }
  .content.service-detail .banner {
    height: 100px; }
    .content.service-detail .banner .txt {
      font-size: 14px; }
  .content.service-detail .breadcrumb {
    margin: 4px 0;
    padding: 6px 0; }
  .content.service-detail .icon-ham {
    width: 14px;
    height: 9px;
    padding: 4px; }
  .content.service-detail .main-product .left-menu .menu-drop .title {
    font-size: 12px;
    padding: 8px 10px 8px 35px; }
    .content.service-detail .main-product .left-menu .menu-drop .title::before {
      width: 15px;
      height: 13px;
      left: 10px; }
  .content.service-detail .main-product .left-menu .menu-drop .menu li a {
    padding: 8sspx; }
  .content.service-detail .main-product .right-product {
    margin-top: 15px; }
    .content.service-detail .main-product .right-product .title {
      padding: 8px 0;
      margin-bottom: 6px; }
    .content.service-detail .main-product .right-product .box-product .box-info {
      margin-bottom: 6px; }
      .content.service-detail .main-product .right-product .box-product .box-info .title-info {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 4px; }
      .content.service-detail .main-product .right-product .box-product .box-info .content-info {
        line-height: normal; }
        .content.service-detail .main-product .right-product .box-product .box-info .content-info .txt {
          margin-left: 15px; }
  .content.contact .col-row {
    margin: 10px 0; }
    .content.contact .col-row .col-l {
      width: 100%;
      margin-bottom: 15px; }
    .content.contact .col-row .col-r {
      width: 100%;
      text-align: left; } }
