.content .box-content .box-detail {
  font-size: 0; }
  .content .box-content .box-detail .col-detail {
    width: calc((100% - 60px) / 3);
    display: inline-block;
    margin: 0 30px 20px 0;
    vertical-align: top;
    position: relative;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .content .box-content .box-detail .col-detail::before {
      background: url(../images/icon_box_01.png) no-repeat center;
      background-color: #129848;
      background-size: 50%;
      border-radius: 50%;
      content: '';
      display: inline-block;
      width: 0px;
      height: 0px;
      padding: 18px;
      position: absolute;
      top: 3px;
      left: 0; }
    .content .box-content .box-detail .col-detail:nth-child(3n) {
      margin-right: 0; }
    .content .box-content .box-detail .col-detail .title-detail {
      color: #f42b13;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 6px; }
    .content .box-content .box-detail .col-detail .txt-detail {
      color: #b8b3b3;
      font-size: 14px;
      line-height: 24px; }

.content .box-event {
  font-size: 0; }
  .content .box-event .col {
    display: inline-block;
    font-size: 14px;
    vertical-align: top; }
  .content .box-event .col-l {
    width: 49%; }
  .content .box-event .col-r {
    width: 51%;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .content .box-event .banner {
    height: 330px; }
    .content .box-event .banner img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .content .box-event .title {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    .content .box-event .title a {
      color: #f42b13;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      line-height: 30px; }
  .content .box-event .time {
    color: #b8b3b3;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 4px; }
  .content .box-event .txt {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
  .content .box-event .btn-view {
    text-align: right; }
    .content .box-event .btn-view a {
      color: #f42b13;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px; }
  .content .box-event .col-row {
    font-size: 0;
    margin-bottom: 16px; }
    .content .box-event .col-row .banner, .content .box-event .col-row .row-info {
      display: inline-block;
      vertical-align: top; }
    .content .box-event .col-row .banner {
      width: 30%;
      height: 120px; }
    .content .box-event .col-row .row-info {
      width: 70%;
      font-size: 14px;
      padding-left: 16px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .content .box-event .col-row .row-info .title {
        margin-top: 0; }

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
  .content .box-content .box-detail .col-detail {
    width: calc((100% - 40px) / 3);
    margin: 0 20px 15px 0;
    padding-left: 40px; }
    .content .box-content .box-detail .col-detail::before {
      padding: 14px;
      top: 2px; }
    .content .box-content .box-detail .col-detail .title-detail {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px; }
    .content .box-content .box-detail .col-detail .txt-detail {
      font-size: 13px;
      line-height: 20px; }
  .content .box-event .col {
    font-size: 13px; }
  .content .box-event .col-r {
    padding-left: 14px; }
  .content .box-event .banner {
    height: 210px; }
  .content .box-event .title {
    margin-top: 5px; }
    .content .box-event .title a {
      font-size: 14px;
      line-height: 22px; }
  .content .box-event .time {
    font-size: 11px;
    line-height: 14px; }
  .content .box-event .txt {
    line-height: 20px;
    height: 60px; }
  .content .box-event .btn-view a {
    font-size: 12px;
    line-height: 18px; }
  .content .box-event .col-row {
    margin-bottom: 14px; }
    .content .box-event .col-row .banner {
      height: 100px; }
    .content .box-event .col-row .row-info {
      font-size: 13px;
      padding-left: 14px; } }

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
  .content .box-content .box-detail .col-detail {
    width: calc((100% - 15px) / 2);
    margin: 0 15px 15px 0;
    padding-left: 30px; }
    .content .box-content .box-detail .col-detail:nth-child(even) {
      margin-right: 0; }
    .content .box-content .box-detail .col-detail:nth-child(3) {
      margin-right: 15px; }
    .content .box-content .box-detail .col-detail::before {
      padding: 12px;
      top: 3px; }
    .content .box-content .box-detail .col-detail .title-detail {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 2px; }
    .content .box-content .box-detail .col-detail .txt-detail {
      font-size: 12px;
      line-height: 18px; }
  .content .box-event .col {
    font-size: 12px; }
  .content .box-event .col-r {
    padding-left: 10px; }
  .content .box-event .banner {
    height: 150px; }
  .content .box-event .title {
    margin-top: 5px; }
    .content .box-event .title a {
      font-size: 13px;
      line-height: 20px; }
  .content .box-event .time {
    font-size: 10px;
    line-height: 12px; }
  .content .box-event .txt {
    line-height: 18px;
    height: 35px;
    -webkit-line-clamp: 2; }
  .content .box-event .btn-view a {
    font-size: 11px;
    line-height: 16px; }
  .content .box-event .col-row {
    margin-bottom: 10px; }
    .content .box-event .col-row .banner {
      width: 34%;
      height: 72px; }
    .content .box-event .col-row .row-info {
      font-size: 12px;
      padding-left: 10px;
      width: 66%; } }

@media (max-width: 480px) {
  .content .box-content .box-detail .col-detail {
    width: calc((100% - 10px) / 2);
    margin: 0 10px 10px 0;
    padding-left: 26px; }
    .content .box-content .box-detail .col-detail:nth-child(3) {
      margin-right: 10px; }
    .content .box-content .box-detail .col-detail::before {
      padding: 10px;
      top: 2px; }
    .content .box-content .box-detail .col-detail .title-detail {
      font-size: 12px;
      line-height: normal; }
    .content .box-content .box-detail .col-detail .txt-detail {
      font-size: 12px;
      line-height: normal; }
  .content .box-event .col {
    width: 100%; }
  .content .box-event .col-r {
    margin-top: 8px;
    padding-left: 0; }
  .content .box-event .banner {
    height: 130px; }
  .content .box-event .title {
    margin-top: 3px; }
    .content .box-event .title a {
      font-size: 12px;
      line-height: normal; }
  .content .box-event .time {
    font-size: 10px;
    line-height: normal; }
  .content .box-event .txt {
    line-height: normal;
    height: 28px; }
  .content .box-event .btn-view a {
    font-size: 11px;
    line-height: normal; }
  .content .box-event .col-row {
    margin-bottom: 8px; }
    .content .box-event .col-row .banner {
      width: 34%;
      height: 70px; }
    .content .box-event .col-row .row-info {
      font-size: 12px;
      padding-left: 8px;
      width: 66%; } }
