#header {
    .slider-product {
        width: 1200px;
        height: 300px;
        margin: 14px auto;
        .slide {
            height: 300px;
        }
        .slick-arrow {
            background-color: rgba(0, 0, 0, .4);
            border-radius: 5px;
            width: 50px;
            height: 50px;
            z-index: 10;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
            }
            &.slick-prev {
                left: 10px;
                &::before {
                    background: url(../images/arrow_slide_left.png) no-repeat;
                    background-size: 100%;
                }
            }
            &.slick-next {
                right: 10px;
                &::before {
                    background: url(../images/arrow_slide_right.png) no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}

.content {
    .container {
        .icon-ham {
            display: none;
        }
        .product {
            font-size: 0;
            .left-menu, .right-product {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
            .left-menu {
                width: 25%;
                margin-right: 2%;
                background-color: #fff;
                .breadcrumb {
                    padding: 10px 16px;
                    list-style: none;
                    li {
                        display: inline-block;
                        a {
                            color: #0275d8;
                            display: inline-block;
                            text-decoration: none;
                            &:hover {
                                color: #01447e;
                                text-decoration: underline;
                            }
                        }
                    }
                    li+li:before {
                        padding: 8px;
                        color: black;
                        content: "/\00a0";
                    }
                }
                .left-dropdown {
                    .menu-drop {
                        .title {
                            background-color: #129848;
                            color: #fff;
                            font-size: 16px;
                            font-weight: normal;
                            text-transform: uppercase;
                            position: relative;
                            padding: 12px 10px 12px 50px;
                            &::before {
                                background: url(../images/icon_hamburger.png) no-repeat;
                                background-size: 100%;
                                content: '';
                                display: inline-block;
                                width: 20px;
                                height: 12px;
                                position: absolute;
                                top: 50%;
                                left: 15px;
                                transform: translateY(-50%);
                            }
                        }
                        .menu {
                            padding-left: 35px;
                            li {
                                list-style-type: disc;
                                a {
                                    padding: 12px;
                                    &:hover {
                                        color: red;
                                    }
                                }
                            }
                        }
                        &.menu-product {
                            margin: 5px 0 40px;
                        }
                    }
                }
            }
            .right-product {
                width: 73%;
                .box-title {
                    border-bottom: 1px solid #000;
                    padding: 10px 0 15px;
                    position: relative;
                    .title, .box-sl {
                        display: inline-block;
                    }
                    .box-sl {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        .sl-price {
                            border: 1px solid #000;
                            font-size: 12px;
                            margin-left: 4px;
                            padding: 4px;
                            cursor: pointer;
                        }
                    }
                }
                .box-product {
                    font-size: 0;
                    margin-top: 20px;
                    .col {
                        width: calc(100% / 4);
                        display: inline-block;
                        font-size: 14px;
                        padding: 10px;
                        box-sizing: border-box;
                        border-bottom: 1px solid #8becb2;
                        border-left: 1px solid #8becb2;
                        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                            border-top: 1px solid #8becb2;
                        }
                        &:nth-child(4n) {
                            border-right: 1px solid #8becb2;
                        }
                        .img {
                            height: 140px;
                            position: relative;
                            margin-bottom: 10px;
                            .sale {
                                background: linear-gradient(to right, #fc8705 , #ec221e);
                                color: #fff;
                                font-size: 12px;
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                padding: 2px 4px;
                                border-radius: 16px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .title {
                            border-top: 1px dotted #8becb2;
                            color: #5353ed;
                            line-height: 26px;
                            margin-bottom: 8px;
                            padding-top: 10px;
                        }
                        .price {
                            line-height: 26px;
                            .price-new {
                                color: #e10c00;
                                font-weight: 600;
                            }
                            .price-old {
                                text-decoration: line-through;
                                float: right;
                            }
                        }
                    }
                }
                .pagination {
                    overflow: hidden;
                    text-align: right;
                    margin-top: 20px;
                    font-size: 0;
                    a {
                        color: black;
                        display: inline-block;
                        font-size: 14px;
                        padding: 8px 14px;
                        text-decoration: none;
                        transition: background-color .3s;
                        &.active {
                            background-color: #129848;
                            color: #fff;
                        }
                        &:hover:not(.active) {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
    }
}

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
    #header {
        .slider-product {
            width: 100%;
            height: 220px;
            margin: 10px auto;
            .slide {
                height: 220px;
            }
            .slick-arrow {
                width: 40px;
                height: 40px;
                &::before {
                    width: 14px;
                    height: 14px;
                }
                &.slick-prev {
                    left: 10px;
                }
                &.slick-next {
                    right: 10px;
                }
            }
        }
    }
    .content {
        padding: 0 15px;
        .container {
            .product {
                .left-menu, .right-product {
                    font-size: 13px;
                }
                .left-menu {
                    width: 25%;
                    margin-right: 2%;
                    .breadcrumb {
                        padding: 10px 0;
                        li+li:before {
                            padding: 0;
                        }
                    }
                    .left-dropdown {
                        .menu-drop {
                            .title {
                                font-size: 12px;
                                padding: 8px 10px 8px 35px;
                                &::before {
                                    width: 15px;
                                    height: 13px;
                                    left: 10px;
                                }
                            }
                            .menu {
                                padding-left: 30px;
                                li {
                                    a {
                                        padding: 10px;
                                    }
                                }
                            }
                            &.menu-product {
                                margin: 5px 0 20px;
                            }
                        }
                    }
                }
                .right-product {
                    width: 73%;
                    .box-title {
                        padding: 10px 0 15px;
                        .box-sl {
                            .sl-price {
                                font-size: 12px;
                                margin-left: 4px;
                                padding: 2px;
                            }
                        }
                    }
                    .box-product {
                        margin-top: 10px;
                        .col {
                            font-size: 13px;
                            padding: 6px;
                            .img {
                                height: 100px;
                                margin-bottom: 6px;
                                .sale {
                                    font-size: 11px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 2px 4px;
                                    border-radius: 10px;
                                }
                            }
                            .title {
                                line-height: 18px;
                                margin-bottom: 4px;
                                padding-top: 6px;
                            }
                            .price {
                                line-height: 18px;
                            }
                        }
                    }
                    .pagination {
                        margin-top: 14px;
                        a {
                            font-size: 13px;
                            padding: 6px 12px;
                        }
                    }
                }
            }
        }
    }    
}

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
    #header {
        .slider-product {
            height: 160px;
            margin: 6px auto;
            .slide {
                height: 160px;
            }
            .slick-arrow {
                width: 24px;
                height: 24px;
                &::before {
                    width: 10px;
                    height: 10px;
                }
                &.slick-prev {
                    left: 6px;
                }
                &.slick-next {
                    right: 6px;
                }
            }
        }
    }
    .content {
        padding: 0 10px;
        .container {
            .icon-ham {
                display: inline-block;
                background-color: #129848;
                width: 20px;
                height: 13px;
                padding: 6px;
                position: absolute;
                z-index: 10;
                img {
                    width: 100%;
                }
            }
            .product {
                position: relative;
                .left-menu, .right-product {
                    font-size: 12px;
                }
                .left-menu {
                    display: none;
                    width: 100%;
                    margin-right: 0;
                    position: absolute;
                    top: 30px;
                    z-index: 10;
                    .breadcrumb {
                        padding: 10px;
                        li+li:before {
                            padding: 4px;
                        }
                    }
                    .left-dropdown {
                        .menu-drop {
                            .title {
                                font-size: 12px;
                                padding: 8px 10px 8px 35px;
                                &::before {
                                    width: 15px;
                                    height: 13px;
                                    left: 10px;
                                }
                            }
                            .menu {
                                padding-left: 22px;
                                li {
                                    a {
                                        padding: 8px;
                                    }
                                }
                            }
                            &.menu-product {
                                margin: 0 0 10px;
                            }
                        }
                    }
                }
                .right-product {
                    width: 100%;
                    margin-top: 25px;
                    .box-title {
                        padding: 10px 0 12px;
                        .box-sl {
                            .sl-price {
                                font-size: 11px;
                                margin-left: 4px;
                                padding: 2px;
                            }
                        }
                    }
                    .box-product {
                        margin-top: 8px;
                        .col {
                            width: calc(100% / 2);
                            font-size: 12px;
                            padding: 6px;
                            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                                border-top: 0;
                            }
                            &:nth-child(4n) {
                                border-right: 0;
                            }
                            &:nth-child(1),&:nth-child(2) {
                                border-top: 1px solid #8becb2;
                            }
                            &:nth-child(2n) {
                                border-right: 1px solid #8becb2;
                            }
                            .img {
                                height: 120px;
                                margin-bottom: 6px;
                                .sale {
                                    font-size: 11px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 2px 4px;
                                    border-radius: 10px;
                                }
                            }
                            .title {
                                line-height: 16px;
                                margin-bottom: 4px;
                                padding-top: 6px;
                            }
                            .price {
                                line-height: 16px;
                            }
                        }
                    }
                    .pagination {
                        margin-top: 10px;
                        a {
                            font-size: 12px;
                            padding: 4px 10px;
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width: 480px) {
    #header {
        .slider-product {
            height: 140px;
            margin: 4px auto;
            .slide {
                height: 140px;
            }
            .slick-arrow {
                width: 20px;
                height: 20px;
                &::before {
                    width: 8px;
                    height: 8px;
                }
                &.slick-prev {
                    left: 4px;
                }
                &.slick-next {
                    right: 4px;
                }
            }
        }
    }
    .content {
        .container {
            .icon-ham {
                width: 14px;
                height: 9px;
                padding: 4px;
            }
            .product {
                .left-menu {
                    top: 22px;
                }
                .right-product {
                    margin-top: 15px;
                    .box-product {
                        margin-top: 6px;
                        .col {
                            padding: 6px;
                            .img {
                                height: 100px;
                                margin-bottom: 6px;
                            }
                            .title {
                                line-height: normal;
                                margin-bottom: 4px;
                                padding-top: 6px;
                            }
                            .price {
                                line-height: normal;
                            }
                        }
                    }
                    .pagination {
                        margin-top: 8px;
                        a {
                            font-size: 11px;
                            padding: 4px 8px;
                        }
                    }
                }
            }
        }
    }    
}