/* =================================
Content
================================= */
.content {
    //=============== Common Title
    .title {
        border-bottom: 1px solid #129848;
        font-size: 15px;
        line-height: 24px;
        margin: 15px 0;
        padding-bottom: 6px;
        text-transform: capitalize;
    }

    //=============== Common Column 4
    .col-4 {
        width: 25%;
        display: inline-block;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
        img {
            width: 100%;
        }
        .txt {
            margin-top: 15px;
        }
    }

    //=============== Common Column 2
    .col-2 {
        &.col-row {
            font-size: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            .banner, .row-info {
                display: inline-block;
                vertical-align: top;
            }
            .col {
                width: 50%;
                display: inline-block;
                margin-bottom: 10px;
            }
            .banner {
                width: 26%;
                height: 140px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover {
                    opacity: .7;
                }
                .box-card {
                    font-size: 12px;
                    position: absolute;
                    top: 20px;
                    right: 0;
                    span {
                        color: #fff;
                        display: block;
                        padding: 4px 8px;
                        border-radius: 2px;
                        text-transform: uppercase;
                        &.new {
                            background-color: #fc8705;
                            margin-bottom: 8px;
                        }
                        &.hot {
                            background-color: #e10c00;
                        }
                    }
                }
            }
            .row-info {
                width: 74%;
                font-size: 14px;
                box-sizing: border-box;
                padding: 0 20px 0 10px;
                .title-info {
                    font-size: 15px;
                    line-height: 24px;
                    display: inline-block;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .time {
                    color: #b8b3b3;
                    display: block;
                    font-size: 13px;
                    font-style: italic;
                    line-height: 20px;
                    margin: 6px 0;
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        background: url(../images/clock.png) no-repeat;
                        background-size: 100%;
                        content: '';
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
                .txt {
                    line-height: 24px;
                }
            }
        }
    }

    //=============== Homepage
    &.homePage {
        .box-content {
            .box-detail {
                font-size: 0;
                .col-detail {
                    width: calc((100% - 60px) / 3);
                    display: inline-block;
                    margin: 0 30px 20px 0;
                    vertical-align: top;
                    .img,.txt {
                        display: inline-block;
                        vertical-align: top;
                    }
                    .img {
                        width: 14%;
                        img {
                            width: 40px;
                        }
                    }
                    .txt {
                        width: 86%;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    .title-detail {
                        color: #129848;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 6px;
                        a {
                            color: #129848;
                        }
                    }
                    .txt-detail {
                        font-size: 14px;
                        line-height: 24px;
                        color: #777;
                    }
                }
            }
        }
        .box-event {
            font-size: 0;
            .col {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
            .col-l {
                width: 49%;
            }
            .col-r {
                width: 51%;
                padding-left: 16px;
                box-sizing: border-box;
            }
            .banner {
                height: 330px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .title {
                margin-top: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: #129848;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 30px;
                }
            }
            .time {
                color: #b8b3b3;
                display: inline-block;
                font-size: 12px;
                font-style: italic;
                line-height: 20px;
                margin-bottom: 4px;
            }
            .txt {
                line-height: 20px;
                height: 60px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .btn-view {
                text-align: right;
                a {
                    color: #f42b13;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 22px;
                }
            }
            .col-row {
                font-size: 0;
                margin-bottom: 10px;
                border: 1px solid #8becb2;
                padding: 10px;
                .banner, .row-info {
                    display: inline-block;
                    vertical-align: top;
                }
                .banner {
                    width: 30%;
                    height: 120px;
                }
                .row-info {
                    width: 70%;
                    font-size: 14px;
                    padding-left: 16px;
                    box-sizing: border-box;
                    .title {
                        margin-top: 0;
                    }
                }
            }
        }
        .slick-dotted.slick-slider {
            margin-bottom: 20px;
        }
    }

    //=============== Product
    &.product {
        .slider-product {
            width: 1200px;
            height: 400px;
            margin: 14px auto;
            .slide {
                height: 400px;
                a {
                    height: 400px;
                }
                img {
                    object-fit: contain;
                }
            }
            .slick-arrow {
                background-color: rgba(0, 0, 0, .4);
                border-radius: 5px;
                width: 50px;
                height: 50px;
                z-index: 10;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                }
                &.slick-prev {
                    left: 10px;
                    &::before {
                        background: url(../images/arrow_slide_left.png) no-repeat;
                        background-size: 100%;
                    }
                }
                &.slick-next {
                    right: 10px;
                    &::before {
                        background: url(../images/arrow_slide_right.png) no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }
        .icon-ham {
            display: none;
        }
        .main-product {
            font-size: 0;
            .left-menu, .right-product {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
            .left-menu {
                width: 25%;
                margin-right: 2%;
                background-color: #fff;
                .breadcrumb {
                    padding: 10px 16px;
                    list-style: none;
                    li {
                        display: inline-block;
                        a {
                            color: #0275d8;
                            display: inline-block;
                            text-decoration: none;
                            &:hover {
                                color: #01447e;
                                text-decoration: underline;
                            }
                        }
                    }
                    li+li:before {
                        padding: 8px;
                        color: black;
                        content: "/\00a0";
                    }
                }
                .left-dropdown {
                    .menu-drop {
                        .title {
                            background-color: #129848;
                            color: #fff;
                            font-size: 16px;
                            font-weight: normal;
                            text-transform: uppercase;
                            position: relative;
                            padding: 12px 10px 12px 50px;
                            &::before {
                                background: url(../images/icon_hamburger.png) no-repeat;
                                background-size: 100%;
                                content: '';
                                display: inline-block;
                                width: 20px;
                                height: 12px;
                                position: absolute;
                                top: 50%;
                                left: 15px;
                                transform: translateY(-50%);
                            }
                        }
                        .menu {
                            li {
                                a {
                                    border-bottom: 1px solid #129848;
                                    padding: 12px 12px 12px 30px;
                                    cursor: pointer;
                                    position: relative;
                                    &:hover {
                                        background-color: #f1f1f1 !important;
                                    }
                                    &.bg {
                                        background-color: #f1f1f1;
                                    }
                                    img {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        &.arrow {
                                            width: 12px;
                                            right: 6px;
                                        }
                                        &.icon {
                                            width: 18px;
                                            left: 6px;
                                        }
                                    }
                                }
                            }
                            .dropdown-menu {
                                display: none;
                                margin-left: 20px;
                            }
                        }
                        &.menu-product {
                            margin: 5px 0 40px;
                        }
                    }
                }
            }
            .right-product {
                width: 73%;
                .box-title {
                    border-bottom: 1px solid #000;
                    padding: 10px 0 15px;
                    position: relative;
                    .title, .box-sl {
                        display: inline-block;
                    }
                    .box-sl {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        .sl-price {
                            border: 1px solid #000;
                            font-size: 12px;
                            margin-left: 4px;
                            padding: 4px;
                            cursor: pointer;
                        }
                    }
                }
                .box-product {
                    font-size: 0;
                    margin-top: 20px;
                    .col {
                        width: calc(100% / 4);
                        display: inline-block;
                        font-size: 14px;
                        padding: 10px;
                        box-sizing: border-box;
                        border-bottom: 1px solid #8becb2;
                        border-right: 1px solid #8becb2;
                        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                            border-top: 1px solid #8becb2;
                        }
                        &:nth-child(4n + 1) {
                            border-left: 1px solid #8becb2;
                        }
                        .img {
                            height: 140px;
                            position: relative;
                            margin-bottom: 10px;
                            .sale {
                                background: linear-gradient(to right, #fc8705 , #ec221e);
                                color: #fff;
                                font-size: 12px;
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                padding: 2px 4px;
                                border-radius: 16px;
                            }
                            .new-item {
                                background: linear-gradient(to right, #fc8705, #ec221e);
                                color: #fff;
                                font-size: 12px;
                                position: absolute;
                                bottom: 4px;
                                left: 4px;
                                padding: 2px 10px;
                                border-radius: 10px;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                            &:hover {
                                opacity: .7;
                            }
                        }
                        .title {
                            border-top: 1px dotted #8becb2;
                            color: #5353ed;
                            line-height: 26px;
                            margin-bottom: 8px;
                            padding-top: 10px;
                            height: 50px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .price {
                            line-height: 26px;
                            .price-new {
                                color: #e10c00;
                                font-weight: 600;
                            }
                            .price-old {
                                text-decoration: line-through;
                                float: right;
                            }
                        }
                    }
                }
                .head-list {
                    background-color: #129848;
                    color: #fff;
                    padding: 10px;
                    font-size: 0;
                    span {
                        display: inline-block;
                        font-size: 14px;
                    }
                }
                .head-sub {
                    margin: 10px 0 20px;
                    span {
                        border: 1px solid #8becb2;
                        display: inline-block;
                        padding: 10px;
                        cursor: pointer;
                        text-align: center;
                        width: calc((100%/4) - 30px);
                        margin: 0 10px 10px 0;
                        &:nth-child(4n) {
                            margin-right: 0;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                        i {
                            display: inline-block;
                            &:first-child {
                                height: 140px;
                            }
                            &:last-child {
                                font-style: normal;
                                margin-top: 4px;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }
    }

    //=============== Product Detail
    &.productDetail {
        .breadcrumb {
            margin: 10px 0;
            padding: 10px 0;
            list-style: none;
            li {
                display: inline-block;
                a {
                    color: #0275d8;
                    display: inline-block;
                    text-decoration: none;
                    &:hover {
                        color: #01447e;
                        text-decoration: underline;
                    }
                }
            }
            li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
        }
        .title {
            font-size: 15px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .box-info {
            font-size: 0;
            .box-slider, .box-detail {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
            .box-slider {
                width: 65%;
                .slick-track {
                    height: 400px;
                    .fancybox {
                        display: unset;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .slider-nav {
                    margin-top: 6px;
                    .slick-track {
                        height: 100px;
                    }
                    .slick-slide {
                        outline: 0;
                        cursor: pointer;
                        &:hover {
                            img {
                                opacity: .8;
                            }
                        }
                    }
                    .item-nav {
                        margin-right: 6px;
                    }
                }
            }
            .box-detail {
                width: 35%;
                padding-left: 20px;
                box-sizing: border-box;
                .price {
                    span {
                        display: inline-block;
                    }
                    .new {
                        color: #e10c00;
                        font-size: 16px;
                        font-weight: 600;
                        margin-right: 40px;
                    }
                    .old {
                        text-decoration: line-through;
                    }
                }
                .code {
                    margin-top: 10px;
                    span {
                        color: #129848;
                    }
                }
                .list-info {
                    margin: 10px 0 0 0;
                    li {
                        list-style-type: disc;
                        line-height: 30px;
                    }
                }
                .contact {
                    background-color: #129848;
                    width: 160px;
                    text-align: center;
                    border-radius: 4px;
                    margin-top: 20px;
                    span {
                        color: #fff;
                        display: block;
                        font-size: 14px;
                        padding: 12px;
                    }
                }
            }
        }
        .box-decription {
            font-size: 0;
            margin-top: 30px;
            padding-bottom: 30px;
            .col-box {
                display: inline-block;
                vertical-align: top;
                .title-decription {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }
            .col-intro {
                width: 65%;
                .col-content {
                    img {
                        width: 100%;
                    }
                }
            }
            .col-params {
                width: 35%;
                box-sizing: border-box;
                font-size: 14px;
                padding-left: 40px;
                h4 {
                    background-color: #1da25e;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    padding: 12px;
                    text-transform: uppercase;
                }
                .box-col {
                    .col {
                        font-size: 0;
                        border-bottom: 1px dashed #8becb2;
                        padding: 20px 10px;
                        &:last-child {
                            border-bottom: 0;
                        }
                        a {
                            display: block;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .new-item {
                                background: linear-gradient(to right, #fc8705, #ec221e);
                                color: #fff;
                                font-size: 12px;
                                position: absolute;
                                bottom: 4px;
                                left: 4px;
                                padding: 2px 10px;
                                border-radius: 10px;
                            }
                        }
                        .img {
                            display: inline-block;
                            width: 40%;
                            a {
                                width: 140px;
                                height: 100px;
                                position: relative;
                                &:hover {
                                    opacity: .7;
                                }
                            }
                        }
                        .detail {
                            width: 60%;
                            box-sizing: border-box;
                            display: inline-block;
                            font-size: 14px;
                            padding-left: 10px;
                            vertical-align: top;
                            a {
                                font-weight: 600;
                                word-break: break-all;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            .price {
                                margin-top: 10px;
                                line-height: 18px;
                                span {
                                    display: block;
                                }
                                .price-new {
                                    color: #e10c00;
                                    font-weight: 600;
                                }
                                .price-old {
                                    margin-left: 0;
                                    margin-top: 6px;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
            .tabs {
                position: relative;
                .nav {
                    border-bottom: 2px solid #1da25e;
                    button {
                        border: 1px solid #1da25e;
                        border-bottom: 0;
                        background-color: #fff;
                        font-size: 14px;
                        margin-right: 4px;
                        padding: 12px;
                        outline: 0;
                        cursor: pointer;
                        &.active {
                            background-color: #1da25e;
                            color: #fff;
                        }
                    }
                }
                .tab-content {
                    margin-top: 20px;
                    font-size: 14px;
                    .table {
                        .row {
                            border-top: 1px solid #cdcdcd;
                            line-height: 20px;
                            padding: 6px 0;
                            &:last-child {
                                border-bottom: 1px solid #cdcdcd;
                            }
                            span {
                                font-size: 14px;
                                display: inline-block;
                                vertical-align: top;
                            }
                            .first {
                                width: 30%;
                            }
                            .last {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }

    //=============== New Event Detail
    &.new-event-detail {
        .box-detail {
            padding: 15px 40px;
            .title-detail {
                font-size: 15px;
                line-height: 24px;
            }
            .date-time {
                font-size: 12px;
                line-height: 20px;
                margin: 10px 0;
                .author {
                    font-weight: 600;
                }
                .time {
                    color: #b8b3b3;
                }
            }
        }
    }

    //=============== Service
    &.service {
        .col-box {
            font-size: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            .col-mg {
                border-bottom: 1px solid #88dfab;
                margin-bottom: 10px;
                padding-bottom: 10px;
                &:last-child {
                    border-bottom: 0;
                }
            }
            .col-row {
                font-size: 14px;
                width: 50%;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                padding: 10px;
                .img {
                    a {
                        height: 300px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                .title-row {
                    a {
                        color: #f42b13;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 24px;
                        margin-bottom: 10px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .detail {
                    line-height: 24px;
                    margin-left: 20px;
                    .txt {
                        display:list-item;
                        list-style: disc;
                    }
                }
                .view {
                    background-color: #0275d8;
                    border-radius: 4px;
                    color: #fff;
                    display: inline-block;
                    margin-top: 20px;
                    padding: 8px 20px;
                    font-size: 12px;
                    &:hover {
                        opacity: .7;
                    }
                }
                &.col-right {
                    .title-row {
                        text-align: right;
                    }
                    .view {
                        float: right;
                    }
                }
            }
        }
    }

    //=============== Solution
    &.solution {
        .col-box {
            font-size: 0;
            .col-row {
                font-size: 14px;
                width: calc(100% / 2);
                display: inline-block;
                padding: 20px 40px;
                box-sizing: border-box;
                vertical-align: top;
                .img {
                    display: inline-block;
                    height: 300px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        opacity: .7;
                    }
                }
                .title-row {
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 28px;
                    margin: 10px 0;
                    height: 20px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .txt {
                    line-height: 24px;
                    margin-bottom: 20px;
                    height: 70px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                .view {
                    background-color: #e10c00;
                    border-radius: 4px;
                    color: #fff;
                    display: inline-block;
                    padding: 8px 26px;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }

    //=============== Service Detail
    &.service-detail {
        .banner {
            height: 200px;
            margin-top: 10px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .txt {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 20%;
                transform: translateY(-50%);
            }
        }
        .breadcrumb {
            margin: 10px 0;
            padding: 10px 16px;
            list-style: none;
            li {
                display: inline-block;
                a {
                    color: #0275d8;
                    display: inline-block;
                    text-decoration: none;
                    &:hover {
                        color: #01447e;
                        text-decoration: underline;
                    }
                }
            }
            li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
        }
        .icon-ham {
            display: none;
        }
        .main-product {
            font-size: 0;
            .left-menu, .right-product {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;
            }
            .left-menu {
                width: 25%;
                margin-right: 2%;
                background-color: #fff;
                .menu-drop {
                    .title {
                        background-color: #129848;
                        color: #fff;
                        font-size: 16px;
                        font-weight: normal;
                        text-transform: uppercase;
                        position: relative;
                        padding: 12px 10px 12px 50px;
                        &::before {
                            background: url(../images/icon_hamburger.png) no-repeat;
                            background-size: 100%;
                            content: '';
                            display: inline-block;
                            width: 20px;
                            height: 12px;
                            position: absolute;
                            top: 50%;
                            left: 15px;
                            transform: translateY(-50%);
                        }
                    }
                    .menu {
                        padding-left: 35px;
                        li {
                            list-style-type: disc;
                            a {
                                padding: 12px;
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
            .right-product {
                width: 73%;
                .title {
                    border-bottom: 1px solid #000;
                    padding: 10px 0;
                    margin-bottom: 10px;
                }
                .box-product {
                    .box-info {
                        margin-bottom: 15px;
                        .title-info {
                            color: #0275d8;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 28px;
                        }
                        .content-info {
                            line-height: 22px;
                            .txt {
                                display: list-item;
                                list-style-type: disc;
                                margin-left: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    //=============== Contact
    &.contact {
        .col-row {
            font-size: 0;
            margin: 40px 0;
            .col-l, .col-r {
                display: inline-block;
                font-size: 14px;
                box-sizing: border-box;
                vertical-align: top;
            }
            .col-l {
                width: 60%;
                box-shadow: 2px 2px 5px 4px rgba(32, 33, 36, 0.28);
                margin-right: 3%;
                padding: 20px 40px;
                .form {
                    input[type="text"] {
                        display: block;
                        border: 0;
                        border-bottom: 1px solid #000;
                        width: 100%;
                        margin-bottom: 10px;
                        padding: 15px;
                        outline: 0;
                        box-sizing: border-box;
                        &.errBorder {
                            border-color: red;
                        }
                    }
                    .submit {
                        text-align: right;
                        margin: 30px 0 5px 0;
                        input[type="submit"] {
                            border: 0;
                            background-color: #fff;
                            outline: 0;
                            cursor: pointer;
                        }
                        img {
                            width: 15px;
                            vertical-align: top;
                        }
                    }
                }
            }
            .col-r {
                width: 36%;
                text-align: right;
                .name {
                    font-size: 20px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                p {
                    margin-bottom: 10px;
                    span {
                        display: block;
                        margin-bottom: 5px;
                        &:first-child {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
    .content {
        .title {
            font-size: 14px;
            line-height: 20px;
            margin: 10px 0;
            padding-bottom: 4px;
        }

        .col-2 {
            &.col-row {
                margin-bottom: 15px;
                .banner {
                    width: 30%;
                    height: 110px;
                    .box-card {
                        font-size: 11px;
                        top: 14px;
                        span {
                            padding: 4px 6px;
                            &.new {
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
                .row-info {
                    width: 70%;
                    font-size: 13px;
                    padding: 0 15px 0 10px;
                    .title-info {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .time {
                        font-size: 12px;
                        line-height: 16px;
                        margin: 4px 0;
                        padding-left: 18px;
                        &::before {
                            width: 13px;
                            height: 13px;
                        }
                    }
                    .txt {
                        line-height: 18px;
                    }
                }
            }
        }

        //=============== Homepage
        &.homePage {
            .box-content {
                .box-detail {
                    .col-detail {
                        width: calc((100% - 40px) / 3);
                        margin: 0 20px 15px 0;
                        .img {
                            img {
                                width: 30px;
                            }
                        }
                        .title-detail {
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 4px;
                        }
                        .txt-detail {
                            font-size: 13px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .box-event {
                .col {
                    font-size: 13px;
                }
                .col-r {
                    padding-left: 14px;
                }
                .banner {
                    height: 210px;
                }
                .title {
                    margin-top: 5px;
                    a {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
                .time {
                    font-size: 11px;
                    line-height: 14px;
                }
                .txt {
                    line-height: 20px;
                    height: 60px;
                }
                .btn-view {
                    a {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .col-row {
                    margin-bottom: 14px;
                    .banner {
                        height: 100px;
                    }
                    .row-info {
                        font-size: 13px;
                        padding-left: 14px;
                    }
                }
            }
        }

        //=============== Product
        &.product {
            .slider-product {
                width: 100%;
                height: 220px;
                margin: 10px auto;
                .slide {
                    height: 220px;
                    a {
                        height: 220px;
                    }
                }
                .slick-arrow {
                    width: 40px;
                    height: 40px;
                    &::before {
                        width: 14px;
                        height: 14px;
                    }
                    &.slick-prev {
                        left: 10px;
                    }
                    &.slick-next {
                        right: 10px;
                    }
                }
            }
            .main-product {
                .left-menu, .right-product {
                    font-size: 13px;
                }
                .left-menu {
                    width: 25%;
                    margin-right: 2%;
                    .breadcrumb {
                        padding: 10px 0;
                        li+li:before {
                            padding: 0;
                        }
                    }
                    .left-dropdown {
                        .menu-drop {
                            .title {
                                font-size: 12px;
                                padding: 8px 10px 8px 35px;
                                &::before {
                                    width: 15px;
                                    height: 13px;
                                    left: 10px;
                                }
                            }
                            .menu {
                                .dropdown-menu {
                                    margin-left: 10px;
                                }
                                li {
                                    a {
                                        padding: 10px 10px 10px 30px;
                                        img {
                                            width: 10px;
                                        }
                                    }
                                }
                            }
                            &.menu-product {
                                margin: 5px 0 20px;
                            }
                        }
                    }
                }
                .right-product {
                    width: 73%;
                    .box-title {
                        padding: 10px 0 15px;
                        .box-sl {
                            .sl-price {
                                font-size: 12px;
                                margin-left: 4px;
                                padding: 2px;
                            }
                        }
                    }
                    .box-product {
                        margin-top: 10px;
                        .col {
                            font-size: 13px;
                            padding: 6px;
                            .img {
                                height: 100px;
                                margin-bottom: 6px;
                                .sale {
                                    font-size: 11px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 2px 4px;
                                    border-radius: 10px;
                                }
                                .new-item {
                                    font-size: 11px;
                                    bottom: 2px;
                                    left: 2px;
                                    padding: 2px 6px;
                                    border-radius: 8px;
                                }
                            }
                            .title {
                                line-height: 18px;
                                margin-bottom: 4px;
                                padding-top: 6px;
                                height: 36px;
                            }
                            .price {
                                line-height: 18px;
                            }
                        }
                    }
                    .head-sub {
                        span {
                            i {
                                &:first-child {
                                    height: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Product Detail
        &.productDetail {
            .breadcrumb {
                margin: 8px 0;
                padding: 4px 0;
                li+li:before {
                    padding: 4px;
                }
            }
            .title {
                font-size: 14px;
                margin-bottom: 8px;
                padding-bottom: 8px;
            }
            .box-info {
                .box-slider, .box-detail {
                    font-size: 13px;
                }
                .box-slider {
                    width: 60%;
                    .slick-track {
                        height: 300px;
                    }
                    .slider-nav {
                        margin-top: 4px;
                        .slick-track {
                            height: 80px;
                        }
                        .item-nav {
                            margin: 0 2px;
                            padding: 0 2px;
                        }
                    }
                }
                .box-detail {
                    width: 40%;
                    padding-left: 15px;
                    .price {
                        .new {
                            font-size: 15px;
                            margin-right: 30px;
                        }
                    }
                    .list-info {
                        li {
                            line-height: 24px;
                        }
                    }
                }
            }
            .box-decription {
                margin-top: 15px;
                padding-bottom: 20px;
                .col-box {
                    .title-decription {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                }
                .col-intro {
                    width: 60%;
                }
                .col-params {
                    width: 40%;
                    padding-left: 15px;
                    .box-col {
                        .col {
                            padding: 10px 6px;
                            .img {
                                a {
                                    width: 104px;
                                    height: 90px;
                                }
                            }
                            .detail {
                                .price {
                                    .price-old {
                                        margin-top: 4px;
                                    }
                                }
                            }
                        }
                    }
                    .table {
                        .row {
                            line-height: 18px;
                            padding: 6px 0;
                            span {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .tabs {
                    .nav {
                        button {
                            font-size: 14px;
                            margin-right: 2px;
                            padding: 8px;
                        }
                    }
                }
            }
        }

        //=============== New Event Detail
        &.new-event-detail {
            .box-detail {
                padding: 10px 20px;
                .title-detail {
                    font-size: 14px;
                    line-height: 16px;
                }
                .date-time {
                    font-size: 12px;
                    line-height: 16px;
                    margin: 8px 0;
                }
            }
        }

        //=============== Service
        &.service {
            .col-box {
                margin-bottom: 15px;
                .col-mg {
                    margin-bottom: 6x;
                    padding-bottom: 6px;
                }
                .col-row {
                    font-size: 13px;
                    padding: 5px;
                    .img {
                        a {
                            height: 240px;
                        }
                    }
                    .title-row {
                        a {
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 6px;
                        }
                    }
                    .detail {
                        line-height: 18px;
                        margin-left: 15px;
                    }
                    .view {
                        margin-top: 15px;
                        padding: 6px 16px;
                        font-size: 12px;
                    }
                }
            }
        }

        //=============== Solution
        &.solution {
            .col-box {
                .col-row {
                    font-size: 13px;
                    padding: 10px 20px;
                    .img {
                        height: 200px;
                    }
                    .title-row {
                        font-size: 14px;
                        line-height: 20px;
                        margin: 6px 0;
                    }
                    .txt {
                        line-height: 20px;
                        margin-bottom: 15px;
                        height: 60px;
                    }
                    .view {
                        padding: 6px 20px;
                    }
                }
            }
        }

        //=============== Service Detail
        &.service-detail {
            .banner {
                height: 160px;
                margin-top: 8px;
                .txt {
                    font-size: 18px;
                }
            }
            .breadcrumb {
                margin: 6px 0;
                padding: 10px 0;
                li+li:before {
                    padding: 0;
                }
            }
            .main-product {
                .left-menu, .right-product {
                    font-size: 13px;
                }
                .left-menu {
                    width: 25%;
                    margin-right: 2%;
                    .menu-drop {
                        .title {
                            font-size: 12px;
                            padding: 8px 10px 8px 35px;
                            &::before {
                                width: 15px;
                                height: 13px;
                                left: 10px;
                            }
                        }
                        .menu {
                            padding-left: 30px;
                            li {
                                a {
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
                .right-product {
                    .title {
                        padding: 10px 0;
                        margin-bottom: 10px;
                    }
                    .box-product {
                        .box-info {
                            margin-bottom: 10px;
                            .title-info {
                                font-size: 14px;
                                line-height: 24px;
                            }
                            .content-info {
                                line-height: 20px;
                                .txt {
                                    margin-left: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Contact
        &.contact {
            .col-row {
                margin: 20px 0;
                .col-l {
                    padding: 10px 20px;
                    .form {
                        font-size: 13px;
                        input[type="text"] {
                            margin-bottom: 8px;
                            padding: 10px;
                        }
                        .submit {
                            margin: 20px 0 5px 0;
                            img {
                                width: 12px;
                            }
                        }
                    }
                }
                .col-r {
                    .name {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 8px;
                        span {
                            font-size: 13px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
    .content {
        .title {
            font-size: 13px;
            line-height: 14px;
            margin: 10px 0;
            padding-bottom: 4px;
        }

        .col-2 {
            &.col-row {
                margin-bottom: 10px;
                .col {
                    width: 100%;
                }
                .banner {
                    width: 24%;
                    height: 100px;
                    .box-card {
                        font-size: 10px;
                        top: 10px;
                        span {
                            padding: 4px 6px;
                            &.new {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
                .row-info {
                    width: 76%;
                    font-size: 12px;
                    padding: 0 10px 0 10px;
                    .title-info {
                        font-size: 13px;
                        line-height: 16px;
                    }
                    .time {
                        font-size: 11px;
                        line-height: 14px;
                        margin: 4px 0;
                        padding-left: 16px;
                        &::before {
                            width: 12px;
                            height: 12px;
                        }
                    }
                    .txt {
                        line-height: 16px;
                    }
                }
            }
        }

        //=============== Homepage
        &.homePage {
            .box-content {
                .box-detail {
                    .col-detail {
                        width: calc((100% - 15px) / 2);
                        margin: 0 15px 15px 0;
                        &:nth-child(even) {
                            margin-right: 0;
                        }
                        &:nth-child(3) {
                            margin-right: 15px;
                        }
                        .img {
                            width: 12%;
                            img {
                                width: 20px;
                            }
                        }
                        .txt {
                            width: 88%;
                        }
                        .title-detail {
                            font-size: 13px;
                            line-height: 18px;
                            margin-bottom: 2px;
                        }
                        .txt-detail {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
            }
            .box-event {
                .col {
                    font-size: 12px;
                }
                .col-r {
                    padding-left: 10px;
                }
                .banner {
                    height: 150px;
                }
                .title {
                    margin-top: 5px;
                    a {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
                .time {
                    font-size: 10px;
                    line-height: 12px;
                }
                .txt {
                    line-height: 18px;
                    height: 35px;
                    -webkit-line-clamp: 2;
                }
                .btn-view {
                    a {
                        font-size: 11px;
                        line-height: 16px;
                    }
                }
                .col-row {
                    margin-bottom: 10px;
                    .banner {
                        width: 34%;
                        height: 72px;
                    }
                    .row-info {
                        font-size: 12px;
                        padding-left: 10px;
                        width: 66%;
                    }
                }
            }
            .slick-dotted.slick-slider {
                margin-bottom: 10px;
            }
        }

        //=============== Product
        &.product {
            .slider-product {
                height: 160px;
                margin: 6px auto;
                .slide {
                    height: 160px;
                    a {
                        height: 160px;
                    }
                }
                .slick-arrow {
                    width: 24px;
                    height: 24px;
                    &::before {
                        width: 10px;
                        height: 10px;
                    }
                    &.slick-prev {
                        left: 6px;
                    }
                    &.slick-next {
                        right: 6px;
                    }
                }
            }
            .icon-ham {
                display: inline-block;
                background-color: #129848;
                width: 20px;
                height: 13px;
                padding: 6px;
                position: absolute;
                z-index: 10;
                img {
                    width: 100%;
                }
            }
            .main-product {
                position: relative;
                .left-menu, .right-product {
                    font-size: 12px;
                }
                .left-menu {
                    display: none;
                    width: 100%;
                    margin-right: 0;
                    position: absolute;
                    top: 30px;
                    z-index: 10;
                    .breadcrumb {
                        padding: 10px;
                        li+li:before {
                            padding: 4px;
                        }
                    }
                    .left-dropdown {
                        .menu-drop {
                            .title {
                                font-size: 12px;
                                padding: 8px 10px 8px 35px;
                                &::before {
                                    width: 15px;
                                    height: 13px;
                                    left: 10px;
                                }
                            }
                            .menu {
                                padding-left: 22px;
                                li {
                                    a {
                                        padding: 8px 8px 8px 30px;
                                        img {
                                            &.icon {
                                                width: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                            &.menu-product {
                                margin: 0 0 10px;
                            }
                        }
                    }
                }
                .right-product {
                    width: 100%;
                    margin-top: 30px;
                    .box-title {
                        padding: 10px 0 12px;
                        .box-sl {
                            .sl-price {
                                font-size: 11px;
                                margin-left: 4px;
                                padding: 2px;
                            }
                        }
                    }
                    .box-product {
                        margin-top: 8px;
                        .col {
                            width: calc(100% / 2);
                            font-size: 12px;
                            padding: 6px;
                            &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
                                border-top: 0;
                            }
                            &:nth-child(1),&:nth-child(2) {
                                border-top: 1px solid #8becb2;
                            }
                            &:nth-child(2n + 1) {
                                border-left: 1px solid #8becb2;
                            }
                            .img {
                                height: 120px;
                                margin-bottom: 6px;
                                .sale {
                                    font-size: 11px;
                                    top: 2px;
                                    right: 2px;
                                    padding: 2px 4px;
                                    border-radius: 10px;
                                }
                            }
                            .title {
                                line-height: 16px;
                                margin-bottom: 4px;
                                padding-top: 6px;
                                height: 32px;
                            }
                            .price {
                                line-height: 16px;
                            }
                        }
                    }
                    .head-list {
                        padding: 6px;
                        span {
                            font-size: 12px;
                        }
                    }
                    .head-sub {
                        span {
                            i {
                                &:first-child {
                                    height: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Product Detail
        &.productDetail {
            .breadcrumb {
                margin: 4px 0;
                li+li:before {
                    padding: 2px;
                }
            }
            .title {
                font-size: 13px;
                margin-bottom: 6px;
                padding-bottom: 6px;
            }
            .box-info {
                .box-slider, .box-detail {
                    font-size: 12px;
                    width: 100%;
                }
                .box-slider {
                    .slick-track {
                        height: 200px;
                    }
                    .slider-nav {
                        margin-top: 8px;
                        .slick-track {
                            height: 70px;
                        }
                        .item-nav {
                            margin: 0 2px;
                            padding: 0 2px;
                        }
                    }
                }
                .box-detail {
                    padding-left: 0;
                    margin-top: 15px;
                    .price {
                        .new {
                            font-size: 14px;
                            margin-right: 20px;
                        }
                    }
                    .list-info {
                        margin: 4px 0 0 15px;
                        li {
                            line-height: 20px;
                        }
                    }
                }
            }
            .box-decription {
                margin-top: 10px;
                padding-bottom: 15px;
                .col-box {
                    .title-decription {
                        font-size: 13px;
                        margin-bottom: 6px;
                    }
                }
                .col-intro {
                    width: 100%;
                }
                .col-params {
                    width: 100%;
                    font-size: 13px;
                    padding-left: 0;
                    margin-top: 10px;
                    h4 {
                        font-size: 13px;
                        padding: 12px;
                    }
                    .box-col {
                        .col {
                            .img {
                                width: 32%;
                                display: inline-block;
                                a {
                                    width: 140px;
                                    height: 100px;
                                }
                            }
                            .detail {
                                font-size: 13px;
                                width: 68%;
                                .price {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
                .tabs {
                    .nav {
                        button {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        //=============== New Event Detail
        &.new-event-detail {
            .box-detail {
                padding: 0 15px;
                .title-detail {
                    font-size: 13px;
                    line-height: 14px;
                }
                .date-time {
                    font-size: 11px;
                    line-height: 14px;
                    margin: 8px 0;
                }
            }
        }

        //=============== Service
        &.service {
            .col-box {
                margin-bottom: 15px;
                .col-mg {
                    margin-bottom: 4px;
                    padding-bottom: 4px;
                }
                .col-row {
                    font-size: 12px;
                    .img {
                        a {
                            height: 180px;
                        }
                    }
                    .title-row {
                        a {
                            font-size: 13px;
                            line-height: 16px;
                            margin-bottom: 4px;
                        }
                    }
                    .detail {
                        line-height: 16px;
                        margin-left: 0;
                    }
                    .view {
                        margin-top: 10px;
                        padding: 4px 14px;
                        font-size: 11px;
                    }
                }
            }
        }

        //=============== Solution
        &.solution {
            .col-box {
                .col-row {
                    font-size: 12px;
                    padding: 4px 6px;
                    .img {
                        height: 180px;
                    }
                    .title-row {
                        font-size: 13px;
                        line-height: 16px;
                        margin: 4px 0;
                        height: 16px;
                    }
                    .txt {
                        line-height: 16px;
                        margin-bottom: 10px;
                        height: 48px;
                    }
                    .view {
                        padding: 4px 18px;
                        font-size: 11px;
                    }
                }
            }
        }

        //=============== Service Detail
        &.service-detail {
            .banner {
                height: 140px;
                margin-top: 6px;
                .txt {
                    font-size: 16px;
                }
            }
            .breadcrumb {
                margin: 6px 0;
                padding: 6px 0;
                li+li:before {
                    padding: 0;
                }
            }
            .icon-ham {
                display: inline-block;
                background-color: #129848;
                width: 20px;
                height: 13px;
                padding: 6px;
                position: absolute;
                z-index: 10;
                img {
                    width: 100%;
                }
            }
            .main-product {
                position: relative;
                .left-menu, .right-product {
                    font-size: 12px;
                }
                .left-menu {
                    display: none;
                    width: 100%;
                    margin-right: 0;
                    position: absolute;
                    top: 30px;
                    z-index: 10;
                    .menu-drop {
                        .title {
                            font-size: 12px;
                            padding: 8px 10px 8px 35px;
                            &::before {
                                width: 15px;
                                height: 13px;
                                left: 10px;
                            }
                        }
                        .menu {
                            padding-left: 24px;
                            li {
                                a {
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
                .right-product {
                    width: 100%;
                    margin-top: 25px;
                    .title {
                        padding: 8px 0;
                        margin-bottom: 6px;
                    }
                    .box-product {
                        .box-info {
                            margin-bottom: 6px;
                            .title-info {
                                font-size: 13px;
                                line-height: 20px;
                            }
                            .content-info {
                                line-height: 18px;
                                .txt {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Contact
        &.contact {
            .col-row {
                margin: 15px 0;
                .col-l {
                    padding: 8px 15px;
                    .form {
                        font-size: 12px;
                        input[type="text"] {
                            margin-bottom: 6px;
                            padding: 8px;
                        }
                        .submit {
                            margin: 15px 0 3px 0;
                            img {
                                width: 10px;
                            }
                        }
                    }
                }
                .col-r {
                    .name {
                        font-size: 13px;
                        margin-bottom: 4px;
                    }
                    p {
                        margin-bottom: 6px;
                        span {
                            font-size: 12px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .content {
        .title {
            font-size: 12px;
            margin-bottom: 4px;
            padding-bottom: 4px;
        }

        .col-2 {
            &.col-row {
                border-bottom: 1px solid #129848;
                margin-bottom: 10px;
                padding-bottom: 10px;
                .banner {
                    width: 100%;
                    height: 160px;
                }
                .row-info {
                    width: 100%;
                    font-size: 12px;
                    margin-top: 8px;
                    padding: 0;
                    .title-info {
                        font-size: 12px;
                        line-height: normal;
                    }
                    .time {
                        font-size: 11px;
                        line-height: normal;
                        margin: 4px 0;
                        padding-left: 14px;
                        &::before {
                            width: 11px;
                            height: 11px;
                        }
                    }
                    .txt {
                        line-height: normal;
                    }
                }
            }
        }

        //=============== Homepage
        &.homePage {
            .box-content {
                .box-detail {
                    .col-detail {
                        width: 100%;
                        margin: 0 0 10px 0;
                        &:nth-child(3) {
                            margin-right: 0;
                        }
                        .img {
                            width: 12%;
                            img {
                                width: 15px;
                            }
                        }
                        .txt {
                            width: 88%;
                        }
                        .title-detail {
                            font-size: 12px;
                            line-height: normal;
                        }
                        .txt-detail {
                            font-size: 12px;
                            line-height: normal;
                        }
                    }
                }
            }
            .box-event {
                .col {
                    width: 100%;
                }
                .col-r {
                    margin-top: 8px;
                    padding-left: 0;
                }
                .banner {
                    height: 130px;
                }
                .title {
                    margin-top: 3px;
                    a {
                        font-size: 12px;
                        line-height: normal;
                    }
                }
                .time {
                    font-size: 10px;
                    line-height: normal;
                }
                .txt {
                    line-height: normal;
                    height: 28px;
                }
                .btn-view {
                    a {
                        font-size: 11px;
                        line-height: normal;
                    }
                }
                .col-row {
                    margin-bottom: 8px;
                    .banner {
                        width: 34%;
                        height: 70px;
                    }
                    .row-info {
                        font-size: 12px;
                        padding-left: 8px;
                        width: 66%;
                    }
                }
            }
            .slick-dotted.slick-slider {
                margin-bottom: 4px;
            }
        }

        //=============== Product
        &.product {
            .slider-product {
                height: 140px;
                margin: 4px auto;
                .slide {
                    height: 140px;
                    a {
                        height: 140px;
                    }
                }
                .slick-arrow {
                    width: 20px;
                    height: 20px;
                    &::before {
                        width: 8px;
                        height: 8px;
                    }
                    &.slick-prev {
                        left: 4px;
                    }
                    &.slick-next {
                        right: 4px;
                    }
                }
            }
            .icon-ham {
                width: 14px;
                height: 9px;
                padding: 4px;
            }
            .main-product {
                .left-menu {
                    top: 22px;
                }
                .right-product {
                    margin-top: 20px;
                    .box-product {
                        margin-top: 6px;
                        .col {
                            padding: 6px;
                            .img {
                                height: 100px;
                                margin-bottom: 6px;
                            }
                            .title {
                                line-height: normal;
                                margin-bottom: 4px;
                                padding-top: 6px;
                                height: 28px;
                            }
                            .price {
                                line-height: normal;
                            }
                        }
                    }
                    .head-sub {
                        span {
                            i {
                                &:first-child {
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Product Detail
        &.productDetail {
            .box-info {
                .box-slider {
                    width: 100%;
                    .slick-track {
                        height: 200px;
                    }
                    .slider-nav {
                        margin-top: 6px;
                        .slick-track {
                            height: 60px;
                        }
                        .item-nav {
                            margin: 0 1x;
                            padding: 0 1px;
                        }
                    }
                }
                .box-detail {
                    width: 100%;
                    margin-top: 8px;
                    padding-left: 0;
                    .price {
                        .new {
                            font-size: 12px;
                            margin-right: 20px;
                        }
                    }
                    .list-info {
                        margin: 4px 0 0 15px;
                        li {
                            line-height: normal;
                        }
                    }
                }
            }
            .box-decription {
                margin-top: 8px;
                padding-bottom: 10px;
                .col-box {
                    width: 100%;
                    .title-decription {
                        font-size: 13px;
                        margin-bottom: 6px;
                    }
                }
                .col-params {
                    margin-top: 8px;
                    padding-left: 0;
                    .table {
                        .row {
                            line-height: normal;
                            padding: 4px 0;
                        }
                    }
                    .box-col {
                        .col {
                            .img {
                                a {
                                    width: 92px;
                                    height: 80px;
                                }
                            }
                            .detail {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .tabs {
                    .nav {
                        button {
                            padding: 6px 4px;
                        }
                    }
                }
            }
        }

        //=============== New Event Detail
        &.new-event-detail {
            .box-detail {
                padding: 0 10px;
                .title-detail {
                    font-size: 12px;
                    line-height: normal;
                }
                .date-time {
                    font-size: 11px;
                    line-height: normal;
                    margin: 6px 0;
                }
            }
        }

        //=============== Service
        &.service {
            .col-box {
                border-bottom: 1px solid #129848;
                margin-bottom: 10px;
                padding-bottom: 10px;
                &:last-child {
                    border-bottom: 0;
                }
                .col-mg {
                    margin-bottom: 6px;
                    padding-bottom: 6px;
                }
                .col-row {
                    width: 100%;
                    font-size: 12px;
                    padding: 0;
                    &:last-child {
                        margin-top: 10px;
                        padding-left: 0;
                    }
                    .img {
                        a {
                            height: 180px;
                        }
                    }
                    .title-row {
                        a {
                            font-size: 12px;
                            line-height: normal;
                            margin-bottom: 2px;
                        }
                    }
                    .detail {
                        line-height: normal;
                        margin-left: 0;
                    }
                    .view {
                        margin-top: 10px;
                        padding: 4px 14px;
                        font-size: 11px;
                    }
                }
            }
        }

        //=============== Solution
        &.solution {
            .col-box {
                .col-row {
                    margin-bottom: 8px;
                    padding: 0 4px;
                    .img {
                        height: 120px;
                    }
                    .title-row {
                        font-size: 12px;
                        line-height: normal;
                        margin: 2px 0;
                        height: 14px;
                    }
                    .txt {
                        line-height: normal;
                        margin-bottom: 10px;
                        height: 41px;
                    }
                    .view {
                        padding: 4px 12px;
                    }
                }
            }
        }

        //=============== Service Detail
        &.service-detail {
            .banner {
                height: 100px;
                .txt {
                    font-size: 14px;
                }
            }
            .breadcrumb {
                margin: 4px 0;
                padding: 6px 0;
            }
            .icon-ham {
                width: 14px;
                height: 9px;
                padding: 4px;
            }
            .main-product {
                .left-menu {
                    .menu-drop {
                        .title {
                            font-size: 12px;
                            padding: 8px 10px 8px 35px;
                            &::before {
                                width: 15px;
                                height: 13px;
                                left: 10px;
                            }
                        }
                        .menu {
                            li {
                                a {
                                    padding: 8sspx;
                                }
                            }
                        }
                    }
                }
                .right-product {
                    margin-top: 15px;
                    .title {
                        padding: 8px 0;
                        margin-bottom: 6px;
                    }
                    .box-product {
                        .box-info {
                            margin-bottom: 6px;
                            .title-info {
                                font-size: 12px;
                                line-height: normal;
                                margin-bottom: 4px;
                            }
                            .content-info {
                                line-height: normal;
                                .txt {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        //=============== Contact
        &.contact {
            .col-row {
                margin: 10px 0;
                .col-l {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .col-r {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}