.content {
    .box-content {
        .box-detail {
            font-size: 0;
            .col-detail {
                width: calc((100% - 60px) / 3);
                display: inline-block;
                margin: 0 30px 20px 0;
                vertical-align: top;
                position: relative;
                padding-left: 50px;
                box-sizing: border-box;
                &::before {
                    background: url(../images/icon_box_01.png) no-repeat center;
                    background-color: #129848;
                    background-size: 50%;
                    border-radius: 50%;
                    content: '';
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    padding: 18px;
                    position: absolute;
                    top: 3px;
                    left: 0;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
                .title-detail {
                    color: #f42b13;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 6px;
                }
                .txt-detail {
                    color: #b8b3b3;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
    .box-event {
        font-size: 0;
        .col {
            display: inline-block;
            font-size: 14px;
            vertical-align: top;
        }
        .col-l {
            width: 49%;
        }
        .col-r {
            width: 51%;
            padding-left: 16px;
            box-sizing: border-box;
        }
        .banner {
            height: 330px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title {
            margin-top: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                color: #f42b13;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
            }
        }
        .time {
            color: #b8b3b3;
            display: inline-block;
            font-size: 12px;
            font-style: italic;
            line-height: 20px;
            margin-bottom: 4px;
        }
        .txt {
            line-height: 20px;
            height: 60px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .btn-view {
            text-align: right;
            a {
                color: #f42b13;
                display: inline-block;
                font-size: 13px;
                font-weight: 600;
                line-height: 22px;
            }
        }
        .col-row {
            font-size: 0;
            margin-bottom: 16px;
            .banner, .row-info {
                display: inline-block;
                vertical-align: top;
            }
            .banner {
                width: 30%;
                height: 120px;
            }
            .row-info {
                width: 70%;
                font-size: 14px;
                padding-left: 16px;
                box-sizing: border-box;
                .title {
                    margin-top: 0;
                }
            }
        }
    }
}

/* =================================
Responsive Tablet
================================= */
@media (max-width: 1199px) {
    .content {
        .box-content {
            .box-detail {
                .col-detail {
                    width: calc((100% - 40px) / 3);
                    margin: 0 20px 15px 0;
                    padding-left: 40px;
                    &::before {
                        padding: 14px;
                        top: 2px;
                    }
                    .title-detail {
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 4px;
                    }
                    .txt-detail {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
        }
        .box-event {
            .col {
                font-size: 13px;
            }
            .col-r {
                padding-left: 14px;
            }
            .banner {
                height: 210px;
            }
            .title {
                margin-top: 5px;
                a {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .time {
                font-size: 11px;
                line-height: 14px;
            }
            .txt {
                line-height: 20px;
                height: 60px;
            }
            .btn-view {
                a {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            .col-row {
                margin-bottom: 14px;
                .banner {
                    height: 100px;
                }
                .row-info {
                    font-size: 13px;
                    padding-left: 14px;
                }
            }
        }
    }
}

/* =================================
Responsive Mobile
================================= */
@media (max-width: 767px) {
    .content {
        .box-content {
            .box-detail {
                .col-detail {
                    width: calc((100% - 15px) / 2);
                    margin: 0 15px 15px 0;
                    padding-left: 30px;
                    &:nth-child(even) {
                        margin-right: 0;
                    }
                    &:nth-child(3) {
                        margin-right: 15px;
                    }
                    &::before {
                        padding: 12px;
                        top: 3px;
                    }
                    .title-detail {
                        font-size: 13px;
                        line-height: 18px;
                        margin-bottom: 2px;
                    }
                    .txt-detail {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
        .box-event {
            .col {
                font-size: 12px;
            }
            .col-r {
                padding-left: 10px;
            }
            .banner {
                height: 150px;
            }
            .title {
                margin-top: 5px;
                a {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .time {
                font-size: 10px;
                line-height: 12px;
            }
            .txt {
                line-height: 18px;
                height: 35px;
                -webkit-line-clamp: 2;
            }
            .btn-view {
                a {
                    font-size: 11px;
                    line-height: 16px;
                }
            }
            .col-row {
                margin-bottom: 10px;
                .banner {
                    width: 34%;
                    height: 72px;
                }
                .row-info {
                    font-size: 12px;
                    padding-left: 10px;
                    width: 66%;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .content {
        .box-content {
            .box-detail {
                .col-detail {
                    width: calc((100% - 10px) / 2);
                    margin: 0 10px 10px 0;
                    padding-left: 26px;
                    &:nth-child(3) {
                        margin-right: 10px;
                    }
                    &::before {
                        padding: 10px;
                        top: 2px;
                    }
                    .title-detail {
                        font-size: 12px;
                        line-height: normal;
                    }
                    .txt-detail {
                        font-size: 12px;
                        line-height: normal;
                    }
                }
            }
        }
        .box-event {
            .col {
                width: 100%;
            }
            .col-r {
                margin-top: 8px;
                padding-left: 0;
            }
            .banner {
                height: 130px;
            }
            .title {
                margin-top: 3px;
                a {
                    font-size: 12px;
                    line-height: normal;
                }
            }
            .time {
                font-size: 10px;
                line-height: normal;
            }
            .txt {
                line-height: normal;
                height: 28px;
            }
            .btn-view {
                a {
                    font-size: 11px;
                    line-height: normal;
                }
            }
            .col-row {
                margin-bottom: 8px;
                .banner {
                    width: 34%;
                    height: 70px;
                }
                .row-info {
                    font-size: 12px;
                    padding-left: 8px;
                    width: 66%;
                }
            }
        }
    }
}