<template>

    <div class="box-detail">
        <div class="col-detail" v-for="item in listData" v-bind:key="item.id">
            <div class="img"><img :src="'/assets/images/icon_box_01.png'"></div>
            <div class="txt">
                <h4 class="title-detail">{{item.textDiplay}}</h4>
                <p class="txt-detail">{{item.description}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                listData: [    ]
        };
    },
    props: [
            'typecategory'
        ],
      created() {
           this.getall()
       },
     methods: {
           getall() {
               axios.get('/TypeCategory/getall',{ params: { type: this.typecategory } })
               .then(response => {
                  console.log(response);
                   this.listData = response.data
               })
               .catch(error => {
                   console.log(error);
               })
           }
       }
    }
</script>
