<template>
     <footer id="footer">
        <div class="container">
            <div class="col-footer">
                <h4 class="title">Giải pháp và dịch vụ</h4>
                <span class="txt"><a href="/service-detail?service_code=Service001">Bảo trì máy tính</a></span>
                <span class="txt"><a href="/service-detail?service_code=Service004">Dịch vụ IT tận nơi</a></span>
                <span class="txt"><a href="/solution-detail?solution_code=Solution04">Giải pháp bán lẻ</a></span>
                <span class="txt"><a href="/solution-detail?solution_code=Solution01">Quản trị doanh nghiệp</a></span>
            </div>
            <div class="col-footer">
                <h4 class="title">Tìm hiểu về chúng tôi</h4>
                <span class="txt"><a href="#">Lịch sử phát triển công ty</a></span>
                <span class="txt"><a href="#">Tầm nhìn và phát triển</a></span>
                <span class="txt"><a href="#">Văn hóa công ty</a></span>
                <span class="txt"><a href="#">Tuyển dụng</a></span>
            </div>
            <div class="col-footer">
                <h4 class="title">Liên hệ</h4>
                <span class="txt">Công ty cổ phần công nghệ Lục Bảo</span>
                <span class="txt">Thông tin địa chỉ</span>
                <span class="txt">Mã số thuế: 0107607975</span>
                <span class="txt">Số điện thoại: +844 668 72 600</span>
                <span class="txt">Email hổ trợ: support@lucbao.vn</span>
                <span class="icon">
                    <a href="https://www.facebook.com/TruongNghia1993/"><img :src="'/assets/images/icon_fb.png'"></a>
                    <a href="#"><img :src="'/assets/images/icon_twitter.png'"></a>
                    <a href="#"><img :src="'/assets/images/icon_youtube.png'"></a>
                </span>
            </div>
            <div class="col-footer">
                <h4 class="title">Liên kết trang</h4>
                <span class="txt"><a href="/Product">Sản phẩm</a></span>
                <span class="txt"><a href="/service">Dịch vụ</a></span>
                <span class="txt"><a href="/solution">Giải pháp</a></span>
                 <span class="txt"><a href="/instruct">Đào tạo</a></span>
            </div>
        </div>
    </footer>    
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>
