<template>
  <header id="header">
        <div class="menu-header">
            <div class="container">
            
            </div>
        </div>
        <div class="logo-header">
            <div class="container">
                <div class="logo">
                    <a href="/"><img :src="'/assets/images/logo.png'"></a>
                </div>
                    <div class="search">
                    <input type="search" placeholder="Bạn muốn tìm gì...">
                    <button><img :src="'/assets/images/icon_search.png'"></button>
                </div>
                <div class="hotline">
                    <p class="img"><img :src="'/assets/images/img_phone.png'"></p>
                    <div>
                        <p class="hot-line">
                         
                            <span class="clr">0165939686</span>
                            <span class="clr">0165939686</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <nav id="nav">
            <div class="container">
                <ul class="menu main-menu">
                    <li class="main"><a href="/">Trang chủ</a></li>
                    <li class="main sub">
                        <a href="/san-pham">Sản phẩm</a>
                        <ul class="sub-menu">
                        <li><a href="/san-pham">Laptop</a></li>
                        <li><a href="/san-pham">Điện thoại</a></li>
                     
                        </ul>
                    </li>
                    <li class="main sub">
                        <a href="/giai-phap">Giải pháp</a>
                        <ul class="sub-menu">
                          <li><a href="/giai-phap/quan-tri-doanh-nghiep-erp">QTDN</a></li>
                        <li><a href="/giai-phap/transparent-resource-portfolio-management-system"> Management System</a></li>
                        <li><a href="/giai-phap/giai-phap-openerp">Giải pháp OPENERP</a></li>
                        <li><a href="/giai-phap/cac-ung-dung-game-danh-cho-dien-thoai-di-dong">Ứng dụng điện thoại</a></li>
                          <li><a href="/giai-phap/giai-phap-ban-le">Giải pháp bán lẻ</a></li>
                        <li><a href="/giai-phap/giai-phap-giao-thong-thong-minh-tren-nen-ban-do-so"> Giao thông thông minh</a></li>
                        </ul>
                    </li>
                    <li class="main sub">
                        <a href="/dich-vu">Dịch vụ</a>
                        <ul class="sub-menu">
                        <li><a href="/dich-vu/bao-tri-may-tinh">Bảo trì máy tính</a></li>
                        <li><a href="/dich-vu/quan-tri-mang-doanh-nghiep">QTDN</a></li>
                        <li><a href="/dich-vu/sua-server-may-chu">Sửa Server / Máy chủ</a></li>
                        <li><a href="/dich-vu/dich-vu-it-tan-noi">Dịch Vụ IT Tận Nơi</a></li>
                        </ul>
                    </li>
                  
                    <li class="main"><a href="/tin-tuc">Tin tức </a></li>
                    <li class="main sub">
                        <a href="/dao-tao">Đào tạo</a>
                        <ul class="sub-menu">
                            <li><a href="/dao-tao/it-help-desk">IT HELP DESK</a></li>
                        </ul>
                    </li>
                    
                    <li class="main"><a href="/customer">Đối tác</a></li>
                    <li class="flag">
                        <img :src="'/assets/images/flag_usa.png'">
                    </li>
                    <li class="flag hamburger" @click="showMenu">
                        <img :src="'/assets/images/icon_hamburger.png'">
                    </li>
                </ul>
            </div>
        </nav>
                                                
  </header> 


    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            showMenu() {
                $(".menu > li:not(:first-child,.flag)").slideToggle();
            }
        }
    }
</script>
