<template>
   <div class="box-donors">
    <h2 class="title-box">{{this.title}}</h2>
    <div class="slider-donors">
        <!-- <div class="img" v-for="item in listData">
            <img :src="'./storage/'+(item.linkImage)">
        </div> -->
    </div>
</div>
</template>

<script>
    export default {
		props: ['title'],
		
        data() {
            return {
                listData: []
            };
        },
        created() {
            this.getall();
        },
        methods: {
            getall() {
                axios.get('/parter/getall')
                .then(response => {
                    this.listData = response.data;
                    this.listData.forEach(el => {
                        $(".slider-donors").append(
                            "<div class='img'>" +
                                "<img src="  + el.urlImage + ">" +
                            "</div>"
                        );
                    });
                    $('.slider-donors').slick({
                        dots: false,
                        infinite: true,
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 3000,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {
                                    slidesToShow: 2
                                }
                            }
                        ]
                    });
                    $('.slider-donors').show();
                    
               })
               .catch(error => {
                   console.log(error);
               })
           }
       }
    }
</script>
