<template>
    <div class="content">
        <div class="container">
            <div class="box box-customer border-line">
                <h2 class="title-box">{{this.title}}</h2>
                <div class="col-3 col-customer">
                    <div class="col-item col-detail" v-for='item in allReason' :key='item.id'>
                        <span class="img"> <img :src="''+(item.urlImage)"></span>
                        <span class="title">{{item.fullName }}</span>
                        <span class="txt">{{item.description}}</span>
                    </div>
                </div>
                <div class="col-3 customer-slider slider-customer"></div>
            </div>
        </div>        
    </div>
</template>

<script>
    export default {
		props: ['title'],
	
        data() {
            return {
                allReason: [],
                allCustomerSatisfaction: []
            };
        },
        created() {
            this.getall();
        },
        methods: {
            getall() {
                axios.get('/getAllCustomerSatisfaction')
                .then(response => {
                    this.allReason = response.data.allReason; 
                    this.allCustomerSatisfaction =  response.data.allCustomerSatisfaction;
                    this.allCustomerSatisfaction.forEach(el => {
                        $(".slider-customer").append(
                            "<div class='col-item col-slider'>" +
                                "<span class='img'>" + 
                                    "<img src=" + el.urlImage + ">" +
                                "</span>" +
                                "<span class='title'>" + el.fullName + "</span>" +
                                "<span class='txt'>" + el.description + "</span>" +
                            "</div>"
                        );
                    });
                    $('.slider-customer').slick({
                        dots: false,
                        infinite: true,
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 3000,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {
                                    slidesToShow: 2
                                }
                            }
                        ]
                    });
                    $('.slider-customer').show();
				})
               .catch(error => {
                   console.log(error);
               })
           }
       }
    }
</script>
